html, body {
    margin:0;
    padding:0;
    /* Workaround for some mobile browsers */
    height:100%;
    min-height:100%;
}

.animated { 
    -webkit-animation-duration: 2s; 
    animation-duration: 2s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in-out; 
    animation-timing-function: ease-in-out; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 

.answer-selected{
    color:white !important;
    font-weight: bold;
    font-size: 1.3em;
}


@-webkit-keyframes tada { 
    0% {-webkit-transform: scale(1);} 
    10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);} 
    30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);} 
    40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);} 
    100% {-webkit-transform: scale(1) rotate(0);
          background-color: yellow;

          background: linear-gradient(90deg, yellow 0%, yellow 100%); 
          background: -moz-linear-gradient(90deg, yellow 0%, yellow 100%); 
          background: -webkit-linear-gradient(90deg, yellow 0%, yellow 100%); 
          background: -o-linear-gradient(90deg, yellow 0%, yellow 100%); 
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='yellow', endColorstr='yellow', GradientType=0);
          filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
          background-repeat: repeat-x;
          border-color: yellow;
    } 
} 
@keyframes tada { 
    0% {transform: scale(1);} 
    10%, 20% {transform: scale(0.9) rotate(-3deg);} 
    30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);} 
    40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);} 
    100% {transform: scale(1) rotate(0); background-color: yellow;

          background: linear-gradient(90deg, yellow 0%, yellow 100%); 
          background: -moz-linear-gradient(90deg, yellow 0%, yellow 100%); 
          background: -webkit-linear-gradient(90deg, yellow 0%, yellow 100%); 
          background: -o-linear-gradient(90deg, yellow 0%, yellow 100%); 
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='yellow', endColorstr='yellow', GradientType=0);
          filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
          background-repeat: repeat-x;
          border-color: yellow;
    } 
} 
.tada { 
    -webkit-animation-name: tada; 
    animation-name: tada; 
}


body {
    background-color: #040912;
    font-family: 'Oxygen', sans-serif;
    background-attachment: fixed;
    background: url(../images/bg5.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


div.owl-item > div {
    display:table-cell;
    vertical-align:middle;
}

.answer-area .list-group .list-group-item{
    border: 1px solid #B02A27;
    color: black;
    font-size: 1.1em;
}


.bg-white{
    background-color: white;
}

.bet-label{
    display: block;
    margin-top: 0.5em;
}

.bet-label span{
    display: block;
}

.bets-number{
    background-color: white;
    padding: 0.3em 0.5em;
    font-size: 1.5em;
    color: black;
}

.bet-win-li{
    list-style:none;
    background:url(../images/win-bullet.png) 4em 0 no-repeat;
    text-indent: 3em;
}

.bet-lose-li{
    list-style:none;
    background:url(../images/lose-bullet.png) 4em 0 no-repeat;
    text-indent: 3em;
}

.bet-fbook-1:before{
    color: #398fb3;
}

.bet-fbook-2:before{
    color: #7cd9ff;
}

.bet-fbook-3:before{
    color: #b3b3b3;
}

.bet-fbook-4:before{
    color: #bcbd3d;
}

.bet-fbook-5:before{
    color: #b02a27;
}

.bet-fbook-6:before{
    color: #0f4e7d;
}

.bet-fbook-7:before{
    color: #2ba4fc;
}

.bet-fbook-8:before{
    color: #f9efeb;
}

.bet-fbook-9:before{
    color: #148c79;
}

.bet-fbook-10:before{
    color: #053e33;
}


#betTable>tbody>tr:hover>td, #betTable>tbody>tr:hover>th{
    color: black;
}

.black-text{
    color:black;
}

.brand-panel .panel-heading{
    background: linear-gradient(90deg, #2BA4FD 0%, #0F4E7D 100%); 
    background: -moz-linear-gradient(90deg, #2BA4FD 0%, #0F4E7D 100%); 
    background: -webkit-linear-gradient(90deg, #2BA4FD 0%, #0F4E7D 100%); 
    background: -o-linear-gradient(90deg, #2BA4FD 0%, #0F4E7D 100%); 
}

.btn-getnewcoins{
    text-shadow: 1px 1px 0 black;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);

    background: linear-gradient(90deg, #B02A27 0%, #B02A27 100%); 
    background: -moz-linear-gradient(90deg, #B02A27 0%, #B02A27 100%); 
    background: -webkit-linear-gradient(90deg, #B02A27 0%, #B02A27 100%); 
    background: -o-linear-gradient(90deg, #B02A27 0%, #B02A27 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B02A27', endColorstr='#B02A27', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #B02A27;
    padding: 1em 2em;
    font-size: 1.5em;
    float: right;

}

.btn-getnewcoins:hover{

    background: linear-gradient(90deg, #FF3D39 0%, #FF3D39 100%); 
    background: -moz-linear-gradient(90deg, #FF3D39 0%, #FF3D39 100%); 
    background: -webkit-linear-gradient(90deg, #FF3D39 0%, #FF3D39 100%); 
    background: -o-linear-gradient(90deg, #FF3D39 0%, #FF3D39 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF3D39', endColorstr='#FF3D39', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #FF3D39;
    color: white;
}


.btn-getnewcoins-sm, .btn-confirmasnwer-sm{
    text-shadow: 1px 1px 0 black;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);

    background: linear-gradient(90deg, #B02A27 0%, #B02A27 100%); 
    background: -moz-linear-gradient(90deg, #B02A27 0%, #B02A27 100%); 
    background: -webkit-linear-gradient(90deg, #B02A27 0%, #B02A27 100%); 
    background: -o-linear-gradient(90deg, #B02A27 0%, #B02A27 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B02A27', endColorstr='#B02A27', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #B02A27;
    color: white;

}

.btn-getnewcoins-sm:hover, .btn-confirmasnwer-sm:hover{
    background: linear-gradient(90deg, #FF3D39 0%, #FF3D39 100%); 
    background: -moz-linear-gradient(90deg, #FF3D39 0%, #FF3D39 100%); 
    background: -webkit-linear-gradient(90deg, #FF3D39 0%, #FF3D39 100%); 
    background: -o-linear-gradient(90deg, #FF3D39 0%, #FF3D39 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF3D39', endColorstr='#FF3D39', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #FF3D39;
    color: white;

}

.btn-confirm-bet{
    text-shadow: 1px 1px 0 black;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);


    background: linear-gradient(90deg, #7CD9FF 0%, #7CD9FF 100%); 
    background: -moz-linear-gradient(90deg, #7CD9FF 0%, #7CD9FF 100%); 
    background: -webkit-linear-gradient(90deg, #7CD9FF 0%, #7CD9FF 100%); 
    background: -o-linear-gradient(90deg, #7CD9FF 0%, #7CD9FF 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7CD9FF', endColorstr='#7CD9FF', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #7CD9FF;
    padding: 1em 2em;
    font-size: 1.5em;
    margin-left: 1em;
    float: right;
}

.btn-confirm-bet:hover{
    text-shadow: 1px 1px 0 black;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);


    background: linear-gradient(90deg, yellow 0%, yellow 100%); 
    background: -moz-linear-gradient(90deg, yellow 0%, yellow 100%); 
    background: -webkit-linear-gradient(90deg, yellow 0%, yellow 100%); 
    background: -o-linear-gradient(90deg, yellow 0%, yellow 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='yellow', endColorstr='yellow', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: yellow;
    color: white;
}

.btn-confirm-bet, .btn-getnewcoins{

    margin-bottom: 1em;
    padding: 1em;
    margin-left: 1em;
}

.btn-facebook{
    text-align: center;
}

.btn-social.btn-lg{
    padding-left: 0px;
    padding-right: 0px;
}

.center-section{
    text-align: center;
}

.close-bets{
    color: white;
    background-color: rgb(100, 14, 12);
}

.container{
    background-color: rgba(0,0,0,0.7);
}

.content{
    padding-bottom: 1em;
}


.fbook-players-ranking{
    list-style: none;
    padding:0;
    margin:0;
    text-align: center;
}

.fbook-players-ranking li { 
    padding-left: 1em; 
    text-indent: -.7em;
}

.fbook-players-ranking li:before {
    content: "• ";
    /*color: red;  or whatever color you prefer */
}


.fill-red{
    background-color: red;
}

.fill-green{
    background-color: green;
}

.fill-orange{
    background-color: orange;
}

.footer{
    color:white;    
    height:40px;
}

.go-login-btn{
    margin-top: 1em;
}

.header{
    padding: 1em;
}

.header-red-title, .header-white-title{
    font-size: 1.1em;
}

.header-red-title, .red-text, .white-text, .header-white-title, .nav>li>a{
    text-shadow: 0px 1px 3px #000000;
    -webkit-text-shadow: 0px 1px 3px #000000;
    -moz-text-shadow: 0px 1px 3px #000000;
    -o-text-shadow: 0px 1px 3px #000000;
}

.header-red-title, .red-text{
    color: #B02A27;
}

.header-white-title, .white-text{
    color: white;
}

.header, .marketing, .footer {
    padding-left: 1em;
    padding-right: 1em;
}

.hide-element{
    display: none;
}

.howto-panel-one .panel-heading{
    background-image: linear-gradient(90deg, #2BA4FC 0%, #15517C 100%); 
    background-image: -moz-linear-gradient(90deg, #2BA4FC 0%, #15517C 100%); 
    background-image: -webkit-linear-gradient(90deg, #2BA4FC 0%, #15517C 100%); 
    background-image: -o-linear-gradient(90deg, #2BA4FC 0%, #15517C 100%); 
}

.howto-panel-two .panel-heading{
    background-image: linear-gradient(90deg, #BCBD3D 0%, #3D3D14 100%); 
    background-image: -moz-linear-gradient(90deg, #BCBD3D 0%, #3D3D14 100%); 
    background-image: -webkit-linear-gradient(90deg, #BCBD3D 0%, #3D3D14 100%); 
    background-image: -o-linear-gradient(90deg, #BCBD3D 0%, #3D3D14 100%); 
}

.howto-panel-three .panel-heading{
    background-image: linear-gradient(90deg, #FC3C38 0%, #B02A27 100%); 
    background-image: -moz-linear-gradient(90deg, #FC3C38 0%, #B02A27 100%); 
    background-image: -webkit-linear-gradient(90deg, #FC3C38 0%, #B02A27 100%); 
    background-image: -o-linear-gradient(90deg, #FC3C38 0%, #B02A27 100%); 
}

.howto-panel-four .panel-heading{
    background-image: linear-gradient(90deg, #1FD8BB 0%, #148C79 100%); 
    background-image: -moz-linear-gradient(90deg, #1FD8BB 0%, #148C79 100%); 
    background-image: -webkit-linear-gradient(90deg, #1FD8BB 0%, #148C79 100%); 
    background-image: -o-linear-gradient(90deg, #1FD8BB 0%, #148C79 100%); 
}

.hr-header{
    background-color: #B02A27;
    border-top: 0px;
    color: #B02A27;
    height: 5px;
    margin: 0px;
}

.img-small{
    width: 30px;
    height: 30px;
}

.img-medium{
    width: 55px;
    height: 55px;
    display: inline-block;
}

.img-large {
    width: 60%;
    height: 40%;
}

.img-sponsor {
    width: 60%;
    height: 40%;
}

.inline-heading{
    display: inline-block;
    margin-left: 1em;
}

.input-score-error{
    border: 1px solid red;
}

.list-user-status{
    margin-left: 0px;
    padding-left: 2em;
    display: inline-block;
}

.list-no-style{
    list-style: none;
}

.list-no-style li{
    padding-top: 1em;
}

.login-panel, .panel-user-edit, .panel-howto{
    color: black;
}

.main-menu li{
    border-left: 1px solid white;
}

.main-menu li:first-child{
    border-left: 0px;
}

.match-bet-txt{
    width: 30px;
}

.match-data div{
    margin-bottom: 0.4em;
}

.matchInfo .team1{
    text-align: left;
}

.matchInfo .team2{
    text-align: right;
}

.matchInfo .team1 h5{
    font-size: 13px;
}

.matchInfo .team2 h5{
    font-size: 13px;
}

.matchInfo .vs-str {
    text-align: center;
    /* padding: 1em; */
    font-size: 1.4em;
}
.matchInfo .col-md-2 {
    padding-top: 5%;
}

.matchInfo .team1, .matchInfo .team2, .matchInfo .vs-str{
    text-align: center;
    display: inline-block;
}

.matchInfo .vs-str{
    text-align: center;
    font-size: 1.7em;
}

.modal-sm {
    width: 400px;
}

.modal{
    color: black;
}

.more-match-btn, .more-bets-btn{
    background-color: #0F4E7D;
    padding: 1em;
}

.nav {
    font-family: 'PT Sans Narrow', sans-serif;
}

.nav>li>a {
    color:white;
    font-size: 1.5em;
}

.nav>li>a:hover {
    background-color: white;
    color:#B02A27;
}

.navbar-default{
    background-image: none;    
    background-color: transparent;
    border: 0px;
}

.navbar-default .navbar-nav>.active>a {
    background-image: none;
    color: #B02A27;
    background-color: white;
}

.navbar-default .navbar-nav>li>a{
    color: #fff;
    background-color: #B02A27;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-default .navbar-nav>li>a:hover{
    background-image: none;
    color: #B02A27;
    background-color: white;
}

.navbar-collapse{
    max-height: none;  
    margin-top: 1.1em;
}

.navbar-brand h1{
    margin: 0px;
    line-height: 1.1;
}

.navbar-nav>li.active>a, .navbar-nav>li.active>a:hover, .navbar-nav>li.active>a:focus {
    background-color: #B02A27;
    color: #fff;
}

.nav-tabs{
    margin-bottom: 1em;
}

.nav-tabs h3{
    margin-bottom: 7px;    
}

.nav-tabs .points-zone{
    width: 60%;
}

.nav-tabs .points-zone .points{
    padding: 0.8em;
    padding-bottom: 0.6em;
    font-size: 1.2em;
}

.nav-tabs .points-zone .points img{
    width: 30px;
    height: 30px;
}

.nav-tabs .points-zone .points .img-responsive{
    display: inline-block;
}

.next-matches{
    margin-bottom: 1.6em;
}

.next-matches .col-md-9, .next-matches .col-md-3{
    display: inline-block;
}

.rgb-zone{
    padding: 1em;
    padding-bottom: 2.1em;
    color: white;
}

.panel-title {
    display: inline-block;
}

.popover{
    color:black;
}


.question-area{
    border: 1px solid black;
    border-radius: 5px; 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    -o-border-radius: 5px; 
    -ms-border-radius: 5px; 
    color: #B02A27;
    font-weight: bold;
    padding: 1em;
    font-size: 1.3em;
}

.ranking-row{
    background-color: white;
    color: #B02A27;
    font-weight: bold;
}

.result-type-radius{
    border: 3px solid black;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    padding: 0.4em;
    color: #B02A27;
    font-weight: bold;

}

.resume-btn{
    margin-bottom: 1em;
}

.resource-info{
    display: inline-block;
    margin-right: 1em;
}

.styled div {
    display: inline-block;
    margin-left: 10px;
    font-size: 30px;
    font-weight: 100;
    line-height: 1;
    text-align: right;
}

.styled div span {
    display: block;
    border-top: 1px solid #cecece;
    padding-top: 3px;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: left;
}

.v-center {
    display:table;
    height:100px;
}

.v-center-bets {
    display:table;
    height:160px;
}

.version-text{
    font-size: 14px;
}

.content-col {
    display:table;
    width:100%;
    height:100%;
}
.table-cell1{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.terms-txt{
    color: #2BA4FC !Important;
}

.canvas-holder{
    text-align: center;
}

#challengeContent .poll-coins-area{
    text-align: center;
}

#user-progress-zone .user-info-col{
    border-right: 1px solid;
}

#matches-dates .panel{
    color:black;
}

#matches-dates .panel-footer{
    font-size: 1.2em;
    text-align: center;
}

#matches-dates .col-md-9{
    padding-left: 0px;
    padding-right: 0px;
}

#matches-dates .col-md-3{
    padding-right: 0px;
    text-align: left;

}

#matches-dates .col-md-3 input[type=checkbox]{
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    padding: 10px;
}

#matches-dates .col-md-3 .img-responsive{
    display: inline-block;
    max-width: 50px;
    padding-bottom: 5px;

}

#matches-dates .col-md-3 .coinsImg{
    max-width: 45px;
}

#matches-dates .panel-title{
    font-size: 14px;
    width: 100%;
}

#matches-dates .matchInfo{
    color: black;
}

#matches-dates .matchInfo .col-md-5{
    padding: 0px;
}

#matches-zone .popover{
    max-width: 350px;
}

#matches-zone .popover-title{
    padding: 14px 14px;
}


#progress-zone .points-zone{
    width: 49%;
}

.owl-item div{
    padding-left: 30%;
    padding-right: 30%;
}

.owl-item img{
    max-width: 125px;
    max-height: 125px;
}

#chart-area{
    width: 300px;
    height: 300px;
}


@media screen and (max-width: 1010px){

    .bet-label{
        display: inline-block;
        margin-top: 0.5em;
    }

    .bet-label span{
        display: inline-block;
    }

    .bet-label::before{
        content: "\00a0\00a0\00a0";
    }


    .btn-confirm-bet, .btn-getnewcoins{
        float: none;
        margin-bottom: 1em;
        padding: 1em;
        margin-left: 1em;
    }

    .container {
        max-width: 970px;
    }

    .main-menu li{
        border-left: 1px solid white;
        text-align: center;
    }

    #matches-dates .col-md-3{
        padding-bottom: 1em;
        text-align: center;

    }

    .matchInfo{
        text-align: center;
    }

    .matchInfo .team1, .matchInfo .team2, .matchInfo .vs-str{
        text-align: center;
        display: inline-block;
    }

    .matchInfo .vs-str{
        text-align: center;
    }

    .matchInfo .team1 h5, .matchInfo .team2 h5{
        text-align: center;
        font-size: 1.3em;
    }

    .img-medium{
        width: 80px;
        height: 80px;
    }

    .next-matches .col-md-9, .next-matches .col-md-3{
        display: inline-block;
    }

    .next-matches .col-md-9{
        padding-bottom: 1em;
    }

    .next-matches .col-md-9, .next-matches .col-md-3{
        width: 48%;
    }

    .next-matches .col-md-9{
        padding-bottom: 1em;
    }

    .owl-item div{
        margin-left: 30%;
        margin-right: 30%;
    }

    #challengeHeader .media-body .col-md-6{
        width: 49%;
        display: inline-block;
    }

    #user-bets-zone .col-md-6{
        display: inline-block;
        width: 49%;
    }

    #user-progress-zone .img-medium{
        width: 45px;
        height: 45px;
    }

    #user-progress-zone .col-md-2, #user-bets-zone .col-md-3{
        width: 100%;
        text-align: center;
    }


    #progress-zone .points-zone {
        width: 33%;
    }

    .nav-tabs .points-zone .points{
        width: 240px;
    }

    .navbar-collapse{
        padding-top: 4em;
    }

    .user-info-col{
        margin-bottom: 1em;
        width: 40%;
        float: left;
        display: inline-block;
    }

    .user-resources-info {
        width: 60%;
        display: inline-block;
        float: left;
    }

}

@media screen and (max-width: 968px){

    .bet-label{
        display: inline-block;
        margin-top: 0.5em;
    }

    .bet-label span{
        display: inline-block;
    }

    .bet-label::before{
        content: "\00a0\00a0\00a0";
    }

    .btn-confirm-bet{
        margin-left: 0em;
    }

    .btn-confirm-bet, .btn-getnewcoins{
        float: none;
        margin-bottom: 1em;
        padding: 1em;
        margin-left: 1em;
    }

    .container {
        max-width: 950px;
    }

    .main-menu li{
        border-left: 1px solid white;
    }


    #matches-dates .col-md-3{
        padding-bottom: 1em;
        text-align: center;

    }

    .matchInfo{
        text-align: center;
    }

    .matchInfo .team1, .matchInfo .team2, .matchInfo .vs-str{
        text-align: center;
        display: inline-block;
    }

    .matchInfo .vs-str{
        text-align: center;
        padding: 1em;
        font-size: 1.7em;
    }


    .matchInfo .team1 h5, .matchInfo .team2 h5{
        text-align: center;
        font-size: 1.3em;
    }
    .img-medium{
        width: 80px;
        height: 80px;
    }

    .next-matches .col-md-9, .next-matches .col-md-3{
        display: inline-block;
    }

    .next-matches .col-md-9{
        padding-bottom: 1em;
    }

    .next-matches .col-md-8, .next-matches .col-md-4{
        display: block;
        width: 100%;
        text-align: center;
    }

    .next-matches .col-md-9{
        padding-bottom: 1em;
    }

    .owl-item div{
        margin-left: 30%;
        margin-right: 30%;
    }

    .resource-info{
        font-size: 13px;
    }

    .user-info-col{
        width: 43%;
        float: left;
        display: inline-block;
    }

    .user-resources-info{
        width: 57%;
        display: inline-block;
        float: left;
    }

    .panel-champs .col-md-6{
        text-align: center;
    }

    .panel-champs .col-md-6 .select2-container{
        text-align: center;
        float: none !Important;
        padding-top: 5px;
    }

    #challengeHeader .media-body .col-md-6{
        width: 49%;
        display: inline-block;
    }

    #user-bets-zone .col-md-6{
        display: inline-block;
        width: 49%;
    }

    #user-progress-zone .img-medium{
        width: 45px;
        height: 45px;
    }

    #user-progress-zone .col-md-2, #user-bets-zone .col-md-3{
        width: 100%;
        text-align: center;
    }

    #progress-zone .media-heading{
        margin-top: 1em;
    }

    #progress-zone>.nav>li>a, #progress-zone h3{
        font-size: 1.4em;
    }

    #progress-zone .points-zone {
        width: 33%;
        font-size: 0.9em;
    }


    .nav-tabs .points-zone .points{
        width: 100%;
    }

    .navbar-collapse{
        padding-top: 4em;
    }
}



@media screen and (max-width:768px) {

    .bet-label{
        display: inline-block;
        margin-top: 0.5em;
    }

    .bet-label span{
        display: inline-block;
    }

    .bet-label::before{
        content: "\00a0\00a0\00a0";
    }

    .btn-confirm-bet{
        margin-left: 0em;
    }

    .btn-confirm-bet, .btn-getnewcoins{
        float: none;
        margin-bottom: 1em;
    }

    .main-menu li{
        border-bottom: 1px solid white;
        border-left: 0px;
    }

    #matches-dates .col-md-3{
        padding-bottom: 1em;
        text-align: center;

    }

    .matchInfo{
        text-align: center;
    }

    .matchInfo .team1, .matchInfo .team2, .matchInfo .vs-str{
        text-align: center;
        display: inline-block;
    }

    .matchInfo .vs-str{
        text-align: center;
        padding: 1em;
        font-size: 1.7em;
    }

    .matchInfo .team1 h5, .matchInfo .team2 h5{
        text-align: center;
        font-size: 1.3em;
    }

    .img-medium{
        width: 75px;
        height: 75px;
    }

    .next-matches .col-md-8, .next-matches .col-md-4{
        display: block;
        width: 100%;
        text-align: center;
    }

    .next-matches .col-md-9{
        padding-bottom: 1em;
    }

    .owl-item div{
        margin-left: 30%;
        margin-right: 30%;
    }

    .panel-champs .col-md-6{
        text-align: center;
    }

    .panel-champs .col-md-6 .select2-container{
        text-align: center;
        float: none !Important;
        padding-top: 5px;
    }

    .resource-info{
        font-size: 12px;
    }

    #challengeHeader .media-body .col-md-6{
        width: 49%;
        display: inline-block;
    }

    #user-bets-zone .col-md-6{
        display: inline-block;
        width: 49%;
    }


    #user-progress-zone .img-medium{
        width: 35px;
        height: 35px;
    }

    #user-progress-zone .col-md-2, #user-bets-zone .col-md-3{
        width: 100%;
        text-align: center;
    }

    #progress-zone .media-heading{
        margin-top: 1em;
    }

    #progress-zone>.nav>li>a, #progress-zone h3{
        font-size: 1.4em;
    }

    #progress-zone .points-zone {
        width: 43%;
        font-size: 0.9em;
    }



    .nav-tabs .points-zone .points{
        width: 270px;
        clear:both;
    }

}

@media screen and (max-width:640px) {

    .bet-label{
        display: inline-block;
        margin-top: 0.5em;
    }

    .bet-label span{
        display: inline-block;
    }

    .bet-label::before{
        content: "\00a0\00a0\00a0";
    }

    .btn-confirm-bet{
        margin-left: 0em;
    }

    .btn-confirm-bet, .btn-getnewcoins{
        float: none;
        margin-bottom: 1em;
    }

    .main-menu li{
        border-bottom: 1px solid white;
        border-left: 0px;
    }

    #matches-dates .col-md-3{
        padding-bottom: 1em;
        text-align: center;
    }

    .matchInfo{
        text-align: center;
    }

    .matchInfo .team1, .matchInfo .team2, .matchInfo .vs-str{
        text-align: center;
        display: block;
    }

    .matchInfo .vs-str{
        text-align: center;
        padding: 0.5em;
        font-size: 1.3em;
    }

    .matchInfo .team1 h5, .matchInfo .team2 h5{
        text-align: center;
        font-size: 1.3em;
    }

    .img-medium{
        width: 65px;
        height: 65px;
    }

    .next-matches .col-md-8, .next-matches .col-md-4{
        display: block;
        width: 100%;
        text-align: center;
    }

    .next-matches .col-md-9{
        padding-bottom: 1em;
    }

    .owl-item div{
        margin-left: 30%;
        margin-right: 30%;
    }

    .panel-champs .col-md-6{
        text-align: center;
    }

    .panel-champs .col-md-6 .select2-container{
        text-align: center;
        float: none !Important;
        padding-top: 5px;
    }


    #challengeHeader .media-body .media-heading{
        font-size: 14px;
    }

    #challengeHeader .media-body .col-md-6{
        width: 49%;
        display: inline-block;
    }

    #challengeHeader .media-object{
        width: 50px;
        height: 50px;
    }


    #user-bets-zone .col-md-6{
        display: block;
        width: 100%;
    }

    #user-progress-zone .img-medium{
        width: 45px;
        height: 45px;
    }

    #user-progress-zone .col-md-2, #user-bets-zone .col-md-3{
        width: 100%;
        text-align: center;
    }

    #progress-zone .media-heading{
        margin-top: 1em;
    }

    #progress-zone>.nav>li>a, #progress-zone h3{
        font-size: 1.2em;
    }

    .nav-tabs .points-zone .points{
        width: 270px;
        clear:both;
    }

    #progress-zone .points-zone {
        width: 61%;

    }

    .user-info-col{
        margin-bottom: 1em;
        width: 100%;
        float: none;
        display: block;
    }

    .user-resources-info {
        width: 100%;
        display: block;
        float: none;
    }

}


@media screen and (max-width: 480px) {

    .bet-label{
        display: block;
        margin-top: 0.5em;
    }

    .bet-label span{
        display: inline-block;
    }

    .btn-social.btn-lg{
        padding-left: 30px;
        padding-right: 0px;
    }

    .btn-confirm-bet{
        margin-left: 0em;
    }

    .btn-confirm-bet, .btn-getnewcoins{
        float: none;
        margin-bottom: 1em;
    }

    .main-menu li{
        border-bottom: 1px solid white;
        border-left: 0px;
    }

    #matches-dates .col-md-3{
        padding-bottom: 1em;
        text-align: center;
    }

    .matchInfo{
        text-align: center;
    }

    .matchInfo .team1, .matchInfo .team2, .matchInfo .vs-str{
        text-align: center;
        display: block;
    }

    .matchInfo .vs-str{
        text-align: center;
        padding: 0.5em;
        font-size: 1.3em;
    }

    .matchInfo .team1 h5, .matchInfo .team2 h5{
        text-align: center;
        font-size: 1.3em;
    }

    .img-medium {
        width: 50px;
        height: 50px;
    }

    .next-matches .col-md-8, .next-matches .col-md-4{
        display: block;
        width: 100%;
        text-align: center;
    }

    .next-matches .col-md-9{
        padding-bottom: 1em;
    }

    .panel-champs .col-md-6{
        text-align: center;
    }

    .panel-champs .col-md-6 .select2-container{
        text-align: center;
        float: none !Important;
        padding-top: 5px;
    }

    #challengeHeader .media-body .media-heading{
        font-size: 13px;
    }

    #challengeHeader .media-object{
        width: 44px;
        height: 44px;
    }

    #user-progress-zone .img-medium{
        width: 45px;
        height: 45px;
    }

    #user-progress-zone .col-md-2, #user-bets-zone .col-md-3{
        width: 100%;
        text-align: center;
    }

    #progress-zone .media-heading{
        margin-top: 0.5em;
    }

    #progress-zone>.nav>li>a, #progress-zone h3{
        font-size: 1.2em;
    }

    #championship-zone>.nav>li>a,  #championship-zone h3, #matches-zone>.nav>li>a, #matches-zone h3{
        font-size: 1.2em;
    }

    #progress-zone .nav-tabs li, #championship-zone .nav-tabs li, #matches-zone .nav-tabs li{
        clear: both;
        width: 100%;
    }

    .nav-tabs .points-zone .points{
        width: 100%;
    }

    .btn-lg{
        font-size: 14px;
    }

    #championship-zone .nav-tabs .white-text, #matches-zone .nav-tabs .white-text{
        font-size: 1.1em;
    }

    .resource-info{
        display: block;
    }

    .user-info-col{
        margin-bottom: 1em;
        width: 100%;
        float: none;
        display: block;
    }

    .user-resources-info {
        width: 100%;
        display: block;
        float: none;
    }

}

@media screen and (max-width: 320px) {

    .bet-label{
        display: block;
        margin-top: 0.5em;
    }

    .bet-label span{
        display: inline-block;
    }

    .btn-social.btn-lg{
        padding-left: 30px;
        padding-right: 0px;
    }

    .btn-confirm-bet{
        margin-left: 0em;
    }

    .btn-confirm-bet, .btn-getnewcoins{
        float: none;
        margin-bottom: 1em;
    }

    #matches-dates .col-md-3{
        padding-bottom: 1em;
        text-align: center;
    }

    .main-menu li{
        border-bottom: 1px solid white;
        border-left: 0px;
    }

    .matchInfo{
        text-align: center;
    }

    .matchInfo .team1, .matchInfo .team2, .matchInfo .vs-str{
        text-align: center;
        display: block;
    }

    .matchInfo .vs-str{
        text-align: center;
        padding: 0.5em;
        font-size: 1.3em;
    }

    .img-medium{
        width: 65px;
        height: 65px;
    }

    .next-matches .col-md-8, .next-matches .col-md-4{
        display: block;
        width: 100%;
        text-align: center;
    }

    .next-matches .col-md-9{
        padding-bottom: 1em;
    }

    .panel-champs .col-md-6{
        text-align: center;
    }

    .panel-champs .col-md-6 .select2-container{
        text-align: center;
        float: none !Important;
        padding-top: 5px;
    }

    #challengeHeader .media-body .media-heading{
        font-size: 13px;
    }

    #user-progress-zone .img-medium{
        width: 45px;
        height: 45px;
    }

    #user-progress-zone .col-md-2, #user-bets-zone .col-md-3{
        width: 100%;
        text-align: center;
    }

    #progress-zone .media-heading{
        margin-top: 0.5em;
    }

    #progress-zone>.nav>li>a, #progress-zone h3{
        font-size: 1.2em;
    }

    #championship-zone>.nav>li>a,  #championship-zone h3, #matches-zone>.nav>li>a, #matches-zone h3{
        font-size: 1.2em;
    }

    #progress-zone .nav-tabs li, #championship-zone .nav-tabs li, #matches-zone .nav-tabs li{
        clear: both;
        width: 100%;
    }



    .nav-tabs .points-zone .points{
        width: 200px;

    }

    .btn-lg{
        font-size: 14px;
    }

    #championship-zone .nav-tabs .white-text, #matches-zone .nav-tabs .white-text{
        font-size: 1.1em;
    }

    .img-medium {
        width: 50px;
        height: 50px;
    }

    .resource-info{
        display: block;
    }

    .user-info-col{
        margin-bottom: 1em;
        width: 100%;
        float: none;
        display: block;
    }

    .user-resources-info {
        width: 100%;
        display: block;
        float: none;
    }

}
