{% extends 'FrontendBundle::layout.html.twig' %}

{% block content %}
<h2>Estimados jugadores!</h2>

<h4>Gracias por participar en nuestro juego Open Futbol!</h4>

<p>La etapa de pruebas Alpha ha concluido y les agradecemos haber participado. Estaremos 

    implementando toda una serie de mejoras y estaremos volviendo pronto, con una versión mejorada de 

    a plataforma y esta vez para quedarnos.

    Agradecemos el que nos hayan ayudado en esta etapa inicial y queden atentos a mas noticias de Open Futbol!</p>


<h4>Gracias,
    <br>
    <br>
    Equipo Open Futbol</h4>
{% endblock %}


