{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'FrontendBundle::layout.html.twig' %}

{% block navigation %}

{% set path = app.request.pathinfo %}

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    {% if app.user %}
        <ul class="nav navbar-nav pull-right">

            <li class="{% if path == "/progress" or "bets" in path or "edit-profile" in path %}active{%endif%}"><a href="{{path("idigital_frontend_user_progress")}}">Mi Progreso</a></li>
            <li class="{% if path == "/championships" or path == "/confirmbets" or "matches" in path%}active{%endif%}"><a href="{{ path('idigital_frontend_championship_index') }}">Campeonatos</a></li>
            <li class="{% if path == "/howto"%}active{%endif%}"><a href="{{ path('idigital_frontend_default_howto') }}">¿Cómo Jugar?</a></li>
            <li class="{% if path == "/prizes"%}active{%endif%}"><a href="{{ path('idigital_frontend_default_prizes') }}">Premios</a></li>
            <li class="dropdown bg-white">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{app.user.firstName}} {{app.user.lastName}}<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{path("sonata_user_profile_edit")}}">Editar Perfil</a></li>
                    <li class="divider"></li>
                    <li><a href="{{path("sonata_user_security_logout")}}">Salir</a></li>
                </ul>
            </li>
        </ul>
    {% else %}
        <ul class="nav navbar-nav pull-right hidden-xs">
           <li class="{% if path == "/"%}active{%endif%}"><a href="{{path('idigital_frontend_default_index')}}">Home</a></li>
           <li class="{% if path == "/howto"%}active{%endif%}"><a href="{{ path('idigital_frontend_default_howto') }}">Cómo Jugar</a></li>
           <li class="{% if path == "/prizes"%}active{%endif%}"><a href="{{ path('idigital_frontend_default_prizes') }}">Premios</a></li>
           <li class="{% if path == "/login"%}active{%endif%}"><a href="{{ path("sonata_user_security_login") }}">Login</a></li>
       </ul>
       <ul class="nav navbar-nav visible-xs">
           <li class="{% if path == "/"%}active{%endif%}"><a href="{{path('idigital_frontend_default_index')}}">Home</a></li>
           <li class="{% if path == "/howto"%}active{%endif%}"><a href="{{ path('idigital_frontend_default_howto') }}">Cómo Jugar</a></li>
           <li class="{% if path == "/prizes"%}active{%endif%}"><a href="{{ path('idigital_frontend_default_prizes') }}">Premios</a></li>
           <li class="{% if path == "/login"%}active{%endif%}"><a href="{{ path("sonata_user_security_login") }}">Login</a></li>
       </ul>
    {% endif %}

   </div>
{% endblock %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            {% block sonata_user_login %}
                <div class="panel panel-info login-panel">

                <div class="panel-heading">
                    <h2 class="panel-title">{{ 'title_user_authentication'|trans({}, 'SonataUserBundle') }}</h2>
                </div>

                <div class="panel-body">

                    {% block sonata_user_login_error %}
                        {% if error %}
                            <div class="alert alert-danger alert-error">{{ error|trans({}, 'FOSUserBundle') }}</div>
                        {% endif %}
                    {% endblock %}

                    {% block sonata_user_login_form %}
                        <form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post" role="form"
                              class="form-signin">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                            <div class="form-group">
                                <label for="username"
                                       class="col-sm-4 control-label">Correo Electrónico</label>

                                <div class="col-sm-8"><input type="text" class="form-control" id="username"
                                                                      name="_username" value="{{ last_username }}"
                                                                      required="required"/></div>
                            </div>


                            <div class="form-group control-group">
                                <label for="password"
                                       class="col-sm-4 control-label">{{ 'security.login.password'|trans({}, 'SonataUserBundle') }}</label>

                                <div class="col-sm-8"><input type="password" class="form-control" id="password"
                                                                      name="_password" required="required"/></div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-8">
                                    <div class="checkbox control-group">
                                        <label for="remember_me">
                                            <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                                            {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="form-group control-group">
                                <div class="controls col-sm-offset-4 col-sm-8">
                                    <a href="{{ path('fos_user_resetting_request') }}">{{ 'forgotten_password'|trans({}, 'SonataUserBundle') }}</a>
                                </div>
                            </div>-->
                            <div class="form-group">
                                <div class="center-section">
                                     <input type="submit" id="_submit" name="_submit" class="btn btn-primary"
                                           value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>
                                     &nbsp; Ó &nbsp;
                                     <a class="btn  btn-social btn-facebook" href="#" onclick="fb_login()"><i class="fa fa-facebook"></i>Ingresa con Facebook</a>
                                </div>
                            </div>
                        </form>
                    {% endblock %}
                </div>
            </div>
            {% endblock %}
        </div>
        <div class="col-sm-3">
        </div>
    </div>


<div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
            // init the FB JS SDK
            FB.init({
                appId      : '598187816957482',                        // App ID from the app dashboard
                channelUrl : '//yourdomain.com/channel.html',      // Channel file for x-domain comms
                status     : true,                                 // Check Facebook Login status
                xfbml      : true                                  // Look for social plugins on the page
            });
        };

        // Load the SDK asynchronously
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function fb_login() {
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                    // connected
                   // alert('Already connected, redirect to login page to create token.');
                    document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                } else {
                    // not_authorized
                    FB.login(function(response) {
                        if (response.authResponse) {
                            document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                        } else {
                        }
                    }, {scope: 'email, public_profile, user_friends'});
                }
            });
        }
    </script>

{% endblock fos_user_content %}
