{% extends 'FrontendBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - Editar Perfil
{% endblock %}

{% block content %}
<ul class="nav nav-tabs" role="tablist">
        <li><h3 class="white-text">MI PROGRESO&nbsp;&nbsp;&nbsp;</h3></li>
        <li><a href="{{path("idigital_frontend_user_progress")}}">Resumen</a></li>
        
        {% if userObj.apuestas|length > 0%}
        <li><a href="{{ path('idigital_frontend_user_bets') }}">Mis Apuestas</a></li>
        
        {% endif %}
        <li class="active"><a class="disabled" href="{{path("sonata_user_profile_edit")}}">Mi Perfil</a></li>
        
</ul>
<section id="user-progress-zone">
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-5 user-info-col">
                    <div class="media">
                        <a class="pull-left" href="#">
                            {% set imgPath = asset("bundles/frontend/images/user.png") %}
                            {% if app.user.fileName != "" %}
                            {% set imgPath = asset('uploads/usuarios/'~ app.user.uuid~'/'~app.user.fileName) %}
                            {% endif %}
                            <img class="media-object" data-src="holder.js/100x100" alt="" src="{{imgPath}}" style="width: 100px; height: 100px;">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">{{app.user.firstName}} {{app.user.lastName}}</h4>
                            <ul class="list-no-style">
                                <li>Pais: 
                                    {% if app.user.pais != "" %}
                                            {{countryArr[app.user.pais]}}
                                    {% endif %}
                                </li>
                                <li>Ranking: {{userRanking}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <h4 class="media-heading">RECURSOS</h4>
                    <div class="pull-left">
                        <div class="resource-info"><img class="img-responsive img-medium" src="{{ asset("/bundles/frontend/images/u96.png")}}"> {{app.user.puntos}} Ptos.</div>
                        <div class="resource-info"><img class="img-responsive img-medium" src="{{ asset("/bundles/frontend/images/u98.png")}}"> {{app.user.monedas}} Monedas </div>
                        <div class="resource-info"><img class="img-responsive img-medium" src="{{ asset("/bundles/frontend/images/gems.png")}}"> {{app.user.gemas}} Gemas </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 v-center">
            <div class="content-col">
                <div class="table-cell1">
                    <a href="{{ path('idigital_frontend_championship_index') }}" class="btn btn-info btn-lg">APOSTAR</a>    
                </div>
            </div>

        </div>
    </div>
</section>
<hr>

{% block sonata_profile_content %}
    {{ form_errors(form) }}
    {% form_theme form _self %}

<section id="user-progress-zone">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <div class="panel panel-default panel-champs panel-user-edit">
                <div class="panel-heading">
                    <h3 class="panel-title red-text">Mi Información</h3>
                </div>
                <div class="panel-body">
                    <form action="{{ path('sonata_user_profile_edit') }}" method="POST" class="form-horizontal" role="form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.firstname, 'Nombre', { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}
                                    <div class="col-sm-10">
                                        {{ form_widget(form.firstname, { 'attr': {'class': 'form-control'} }) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.lastname, 'Apellido', { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}
                                    <div class="col-sm-10">
                                        {{ form_widget(form.lastname, { 'attr': {'class': 'form-control'} }) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.dni, 'DNI / Pasaporte', { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}
                                    <div class="col-sm-10">
                                        {{ form_widget(form.dni, { 'attr': {'class': 'form-control'} }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.pais, 'País', { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}
                                    <div class="col-sm-10">
                                        {{ form_widget(form.pais, { 'attr': {'class': 'form-control'} }) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.dateOfBirth, 'Fecha de Nacimiento', { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}
                                    <div class="col-sm-10">
                                        {{ form_widget(form.dateOfBirth, { 'attr': {'class': 'form-control'} }) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.gender, 'Sexo', { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}
                                    <div class="col-sm-10">
                                        {{ form_widget(form.gender, { 'attr': {'class': 'form-control'} }) }}
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-actions">
                                    <button type="submit" name="submit"  class="btn btn-primary center-block">Guardar</button>
                                </div>
                            </div>
                        </div>
                        {{ form_widget(form._token) }}
                    </form>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
</section>

{% endblock %}


{% endblock %}

