{% extends 'FrontendBundle::layout.html.twig' %}

{% block content %}
    <h3>{{ 'header.success' | trans({'%name%': userInformation.realName}, 'HWIOAuthBundle') }}</h3>
{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    <script>
        var delay = 3000; //Your delay in milliseconds
        setTimeout(function(){ window.location = '{{path("idigital_frontend_user_progress")}}'; }, delay);
    </script>
{% endblock %}
