{% extends 'FrontendBundle::layout.html.twig' %}

{% block content %}
    
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <h3>{{ 'header.connecting' | trans({}, 'HWIOAuthBundle')}}</h3>
            <p>{{ 'connect.confirm.text' | trans({'%service%': service | trans({}, 'HWIOAuthBundle'), '%name%': userInformation.realName}, 'HWIOAuthBundle') }}</p>
            <p>
                <form action="{{ path('hwi_oauth_connect_service', {'service': service, 'key': key}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                    {{ form_widget(form) }}
                    <div class="center-section">
                        <button type="submit" class="btn btn-primary">{{ 'connect.confirm.submit' | trans({}, 'HWIOAuthBundle') }}</button>
                       <!-- <a href="{{ path('hwi_oauth_connect') }}" class="btn btn-danger">{{ 'connect.confirm.cancel' | trans({}, 'HWIOAuthBundle') }}</a>-->
                        <a href="{{ path('idigital_frontend_user_progress') }}" class="btn btn-danger">{{ 'connect.confirm.cancel' | trans({}, 'HWIOAuthBundle') }}</a>
                    </div>
                </form>
            </p>
        </div>
        <div class="col-md-3">
        </div>
    </div>
{% endblock %}
