{% extends 'FrontendBundle::layout.html.twig' %}

{% block content %}
<section id="welcome-registration-zone">
    <div class="row-fluid">
        <div class="col-md-7">
            <h2 class="red-text"><b>Bienvenido a Open Futbol</b></h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <img src="{{asset('bundles/frontend/images/welcome.jpg')}}" class="img-responsive">
        </div>
        <div class="col-md-5">
            <hr>
            <h3 class="white-text">Culmina tu registro ingresando un password cualquiera</h3>
            {% block hwi_oauth_content %}
                <form action="{{ path('hwi_oauth_connect_registration', {'key': key}) }}" {{ form_enctype(form) }} method="POST" class="hwi_oauth_registration_register">
                <div class="form-group" style="display: none;">
                    {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                    <input id="fos_user_registration_form_firstname" name="fos_user_registration_form[firstname]" class="form-control" value="{{userInformation.realName}}">
                </div>
                <div class="form-group">
                    {{ form_label (form.plainPassword.first, "Password", { 'label_attr': {'class': 'control-label'} }) }}   
                    {{ form_widget (form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}  
                </div>
                <div class="form-group">
                    {{ form_label (form.plainPassword.second, "Confirmar Password",  { 'label_attr': {'class': 'control-label'} }) }}   
                    {{ form_widget (form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-default">Registrar</button>
                </div>
                {{ form_widget(form._token) }}
                        </form>
                    
                {% endblock hwi_oauth_content %}
        </div>
    </div>
</section>
{% endblock %}