<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8" />
        <title>Open Futbol - Administrador</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <link href="{{ asset('bundles/backend/assets/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/backend/assets/css/metro.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/backend/assets/bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/backend/assets/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/backend/assets/css/style.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/backend/assets/css/style_responsive.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/backend/assets/css/style_default.css') }}" id="style_color" rel="stylesheet" />
        <link href="{{ asset('bundles/backend/assets/gritter/css/jquery.gritter.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/backend/assets/uniform/css/uniform.default.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/backend/assets/uniform/css/uniform.default.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/backend/assets/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/backend/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/backend/assets/jqvmap/jqvmap/jqvmap.css') }}" rel="stylesheet" />

        <link rel="shortcut icon" href="favicon.ico" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
    <!-- END HEAD -->
    <!-- BEGIN BODY -->
    <body class="fixed-top">
        <!-- BEGIN HEADER -->
        <div class="header navbar navbar-inverse navbar-fixed-top">
            <!-- BEGIN TOP NAVIGATION BAR -->
            <div class="navbar-inner">
                <div class="container-fluid">
                    <!-- BEGIN LOGO -->
                    <a class="brand" href="index.html">
                        <img src="assets/img/logo.png" alt="logo" />
                    </a>
                    <!-- END LOGO -->
                    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                    <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                        <img src="assets/img/menu-toggler.png" alt="" />
                    </a>          
                    <!-- END RESPONSIVE MENU TOGGLER -->				
                    <!-- BEGIN TOP NAVIGATION MENU -->					
                    <ul class="nav pull-right">
                        <!-- BEGIN NOTIFICATION DROPDOWN -->	
                        <li class="dropdown" id="header_notification_bar">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-warning-sign"></i>
                                <span class="badge">6</span>
                            </a>
                            <ul class="dropdown-menu extended notification">
                                <li>
                                    <p>You have 14 new notifications</p>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="label label-success"><i class="icon-plus"></i></span>
                                        New user registered. 
                                        <span class="time">Just now</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="label label-important"><i class="icon-bolt"></i></span>
                                        Server #12 overloaded. 
                                        <span class="time">15 mins</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="label label-warning"><i class="icon-bell"></i></span>
                                        Server #2 not respoding.
                                        <span class="time">22 mins</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="label label-info"><i class="icon-bullhorn"></i></span>
                                        Application error.
                                        <span class="time">40 mins</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="label label-important"><i class="icon-bolt"></i></span>
                                        Database overloaded 68%. 
                                        <span class="time">2 hrs</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="label label-important"><i class="icon-bolt"></i></span>
                                        2 user IP blocked.
                                        <span class="time">5 hrs</span>
                                    </a>
                                </li>
                                <li class="external">
                                    <a href="#">See all notifications <i class="m-icon-swapright"></i></a>
                                </li>
                            </ul>
                        </li>
                        <!-- END NOTIFICATION DROPDOWN -->
                        <!-- BEGIN INBOX DROPDOWN -->
                        <li class="dropdown" id="header_inbox_bar">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-envelope-alt"></i>
                                <span class="badge">5</span>
                            </a>
                            <ul class="dropdown-menu extended inbox">
                                <li>
                                    <p>You have 12 new messages</p>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="photo"><img src="./assets/img/avatar2.jpg" alt="" /></span>
                                        <span class="subject">
                                            <span class="from">Lisa Wong</span>
                                            <span class="time">Just Now</span>
                                        </span>
                                        <span class="message">
                                            Vivamus sed auctor nibh congue nibh. auctor nibh
                                            auctor nibh...
                                        </span>  
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="photo"><img src="./assets/img/avatar3.jpg" alt="" /></span>
                                        <span class="subject">
                                            <span class="from">Richard Doe</span>
                                            <span class="time">16 mins</span>
                                        </span>
                                        <span class="message">
                                            Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh
                                            auctor nibh...
                                        </span>  
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="photo"><img src="./assets/img/avatar1.jpg" alt="" /></span>
                                        <span class="subject">
                                            <span class="from">Bob Nilson</span>
                                            <span class="time">2 hrs</span>
                                        </span>
                                        <span class="message">
                                            Vivamus sed nibh auctor nibh congue nibh. auctor nibh
                                            auctor nibh...
                                        </span>  
                                    </a>
                                </li>
                                <li class="external">
                                    <a href="#">See all messages <i class="m-icon-swapright"></i></a>
                                </li>
                            </ul>
                        </li>
                        <!-- END INBOX DROPDOWN -->
                        <!-- BEGIN TODO DROPDOWN -->
                        <li class="dropdown" id="header_task_bar">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-tasks"></i>
                                <span class="badge">5</span>
                            </a>
                            <ul class="dropdown-menu extended tasks">
                                <li>
                                    <p>You have 12 pending tasks</p>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="task">
                                            <span class="desc">New release v1.2</span>
                                            <span class="percent">30%</span>
                                        </span>
                                        <span class="progress progress-success ">
                                            <span style="width: 30%;" class="bar"></span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="task">
                                            <span class="desc">Application deployment</span>
                                            <span class="percent">65%</span>
                                        </span>
                                        <span class="progress progress-danger progress-striped active">
                                            <span style="width: 65%;" class="bar"></span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="task">
                                            <span class="desc">Mobile app release</span>
                                            <span class="percent">98%</span>
                                        </span>
                                        <span class="progress progress-success">
                                            <span style="width: 98%;" class="bar"></span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="task">
                                            <span class="desc">Database migration</span>
                                            <span class="percent">10%</span>
                                        </span>
                                        <span class="progress progress-warning progress-striped">
                                            <span style="width: 10%;" class="bar"></span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="task">
                                            <span class="desc">Web server upgrade</span>
                                            <span class="percent">58%</span>
                                        </span>
                                        <span class="progress progress-info">
                                            <span style="width: 58%;" class="bar"></span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="task">
                                            <span class="desc">Mobile development</span>
                                            <span class="percent">85%</span>
                                        </span>
                                        <span class="progress progress-success">
                                            <span style="width: 85%;" class="bar"></span>
                                        </span>
                                    </a>
                                </li>
                                <li class="external">
                                    <a href="#">See all tasks <i class="m-icon-swapright"></i></a>
                                </li>
                            </ul>
                        </li>
                        <!-- END TODO DROPDOWN -->
                        <!-- BEGIN USER LOGIN DROPDOWN -->
                        <li class="dropdown user">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img alt="" src="assets/img/avatar1_small.jpg" />
                                <span class="username">Bob Nilson</span>
                                <i class="icon-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icon-user"></i> My Profile</a></li>
                                <li><a href="#"><i class="icon-calendar"></i> My Calendar</a></li>
                                <li><a href="#"><i class="icon-tasks"></i> My Tasks</a></li>
                                <li class="divider"></li>
                                <li><a href="login.html"><i class="icon-key"></i> Log Out</a></li>
                            </ul>
                        </li>
                        <!-- END USER LOGIN DROPDOWN -->
                    </ul>
                    <!-- END TOP NAVIGATION MENU -->	
                </div>
            </div>
            <!-- END TOP NAVIGATION BAR -->
        </div>
        <!-- END HEADER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container row-fluid">
            <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar nav-collapse collapse">

                <!-- BEGIN SIDEBAR MENU -->
                <ul>
                    <li class="active">
                        <a href="index.html">
                            <i class="icon-home"></i> Dashboard
                            <span class="selected"></span>
                        </a>					
                    </li>
                    <li class="has-sub">
                        <a href="javascript:;" class="">
                            <i class="icon-bookmark-empty"></i> UI Features
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub">
                            <li><a class="" href="ui_general.html">General</a></li>
                            <li><a class="" href="ui_buttons.html">Buttons</a></li>
                            <li><a class="" href="ui_tabs_accordions.html">Tabs & Accordions</a></li>
                            <li><a class="" href="ui_typography.html">Typography</a></li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="javascript:;" class="">
                            <i class="icon-table"></i> Form Stuff
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub">
                            <li><a class="" href="form_layout.html">Form Layouts</a></li>
                            <li><a class="" href="form_component.html">Form Components</a></li>
                            <li><a class="" href="form_wizard.html">Form Wizard</a></li>
                            <li><a class="" href="form_validation.html">Form Validation</a></li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="javascript:;" class="">
                            <i class="icon-th-list"></i> Data Tables
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub">
                            <li><a class="" href="table_basic.html">Basic Tables</a></li>
                            <li><a class="" href="table_managed.html">Managed Tables</a></li>
                        </ul>
                    </li>
                    <li><a class="" href="grids.html"><i class="icon-th"></i> Grids & Portlets</a></li>
                    <li class="has-sub">
                        <a href="javascript:;" class="">
                            <i class="icon-map-marker"></i> Maps
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub">
                            <li><a class="" href="maps_google.html">Google Maps</a></li>
                            <li><a class="" href="maps_vector.html">Vector Maps</a></li>
                        </ul>
                    </li>
                    <li><a class="" href="charts.html"><i class="icon-bar-chart"></i> Visual Charts</a></li>
                    <li><a class="" href="calendar.html"><i class="icon-calendar"></i> Calendar</a></li>
                    <li><a class="" href="gallery.html"><i class="icon-camera"></i> Gallery</a></li>
                    <li class="has-sub">
                        <a href="javascript:;" class="">
                            <i class="icon-briefcase"></i> Extra
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub">
                            <li><a class="" href="extra_pricing_table.html">Pricing Tables</a></li>
                            <li><a class="" href="extra_404.html">404 Page</a></li>
                            <li><a class="" href="extra_500.html">500 Page</a></li>
                            <li><a class="" href="extra_blank.html">Blank Page</a></li>
                        </ul>
                    </li>
                    <li><a class="" href="login.html"><i class="icon-user"></i> Login Page</a></li>
                </ul>
                <!-- END SIDEBAR MENU -->
            </div>
            <!-- END SIDEBAR -->
            <!-- BEGIN PAGE -->
            <div class="page-content">
                <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <div id="portlet-config" class="modal hide">
                    <div class="modal-header">
                        <button data-dismiss="modal" class="close" type="button"></button>
                        <h3>Widget Settings</h3>
                    </div>
                    <div class="modal-body">
                        <p>Here will be a configuration form</p>
                    </div>
                </div>
                <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <!-- BEGIN PAGE CONTAINER-->
                <div class="container-fluid">
                    <!-- BEGIN PAGE HEADER-->
                    <div class="row-fluid">
                        <div class="span12">
                            <!-- BEGIN PAGE TITLE & BREADCRUMB-->		
                            <h3 class="page-title">
                                Dashboard
                                <small>statistics and more</small>
                            </h3>
                            <ul class="breadcrumb">
                                <li>
                                    <i class="icon-home"></i>
                                    <a href="index.html">Home</a> 
                                    <span class="icon-angle-right"></span>
                                </li>
                                <li><a href="#">Dashboard</a></li>
                            </ul>
                            <!-- END PAGE TITLE & BREADCRUMB-->
                        </div>
                    </div>
                    <!-- END PAGE HEADER-->
                    <div id="dashboard">
                        <!-- BEGIN DASHBOARD STATS -->
                        <div class="row-fluid">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
                <!-- END PAGE CONTAINER-->		
            </div>
            <!-- END PAGE -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div class="footer">
            2014 &copy; Open Futbol
            <div class="span pull-right">
                <span class="go-top"><i class="icon-angle-up"></i></span>
            </div>
        </div>
        <!-- END FOOTER -->
        <!-- BEGIN JAVASCRIPTS -->
        <!-- Load javascripts at bottom, this will reduce page load time -->

        <script src="{{ asset('bundles/backend/assets/js/jquery-1.8.3.min.js') }}" type="text/javascript"></script>
        <!--[if lt IE 9]>
        <script src="assets/js/excanvas.js"></script>
        <script src="assets/js/respond.js"></script>	
        <![endif]-->	

        <script src="{{ asset('bundles/backend/assets/breakpoints/breakpoints.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/backend/assets/jquery-slimscroll/jquery-ui-1.9.2.custom.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/backend/assets/jquery-slimscroll/jquery.slimscroll.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/backend/assets/fullcalendar/fullcalendar/fullcalendar.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/backend/assets/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/backend/assets/js/jquery.blockui.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/backend/assets/js/jquery.cookie.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/backend/assets/jqvmap/jqvmap/jquery.vmap.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/backend/assets/gritter/js/jquery.gritter.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/backend/assets/uniform/jquery.uniform.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/backend/assets/js/jquery.pulsate.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/backend/assets/bootstrap-daterangepicker/date.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/backend/assets/bootstrap-daterangepicker/daterangepicker.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/backend/assets/js/app.js') }}" type="text/javascript"></script>

        <script>
            jQuery(document).ready(function() {
                App.setPage("index");  // set current page
                App.init(); // init the rest of plugins and elements
            });
        </script>
        <!-- END JAVASCRIPTS -->
    </body>
    <!-- END BODY -->
</html>