{# empty Twig template #}
{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/backend/js/jquery_admin.js') }}" type="text/javascript"></script>
 {% endblock %}