{# empty Twig template #}
<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    </head>
    <body style="
          background-color: #040912;
          font-family: 'Oxygen', sans-serif; font-size: 15px; padding: 1.5em 1em;background-color: #091a38; color: white; width: 100%;">   
        <img src="{{logoImg}}"/>
        <h3>Hola {{userObj.firstName}}</h3>
        <p>Tus puntos hasta el momento son: {{userObj.puntos}}</p>
        <p>Los puntos que puedes ganar en esta siguiente ronda son: {{allTotalCoins}}!!, has tus apuestas para que seas lider de la tabla y ganes muchos premios!</p>
        <h3>PRÓXIMOS PARTIDOS</h3>       
        <table style="border-collapse: collapse;  border: 1px solid white;">
            <th style="border-collapse: collapse;  border: 1px solid white;">Campeonato</th>
            <th style="border-collapse: collapse;  border: 1px solid white;">Partido</th>
            <th style="border-collapse: collapse;  border: 1px solid white;">Fecha</th>
            {% set champId = 0 %}
            {% for partido in nextMatches %}
            <tr>
                <td style="padding: 1.5em; border-collapse: collapse;  border: 1px solid white;">{{partido.campeonato.nombre}}</td>
                {% set champId = partido.campeonato.id%}
                <td style=" padding: 1.5em; border-collapse: collapse;  border: 1px solid white;">
                    {{partido.equipoUno.nombre}}  VS  {{partido.equipoDos.nombre}}
                </td>
                <td style="padding: 1.5em; border-collapse: collapse;  border: 1px solid white;">{{ partido.fechaPartido|date("d/m/Y h:i A") }}</td>
            </tr>
            {% endfor %}
            
        </table>
        
        <h3>FALTAN {{interval}} DÍAS PARA CULMINAR EL MES Y ENTREGAR EL PREMIO DEL MES!, HAS TUS APUESTAS Y TENDRAS MAS CHANCE DE GANAR!</h3>
        
        {%if needMoreCoins and champId > 0 %}
            <a href="{{baseUrl}}/matches/{{champId}}" style="text-decoration: none; text-align: center; color: white; background-color: #B02A27; padding: 1em; margin-top: 1em;"><b>GANAR MONEDAS</b></a>
        {%endif%}
        
    </body>
</html>