{% extends 'FrontendBundle::layout.html.twig' %}
{% block title %}
{{ parent() }} - Cómo Jugar
{% endblock %}
{% block content %}
<section id="welcome-registration-zone">
    <div class="row-fluid">
        <div class="col-md-12">
            <h2 class="red-text"><b>Cómo Jugar</b></h2>
            <p>Una vez registrado, por favor sigue estos simples pasos para que inicies en el juego de la polla en línea. Con el registro inicial obtendrás 10 monedas para realizar tus apuestas iniciales.</p>

            <div class="panel-group panel-howto" id="accordion">
                <div class="panel panel-default howto-panel-one">
                    <div class="panel-heading">
                        <h4 class="panel-title white-text">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed">
                                Registrate y suscribete en los campeonatos disponibles
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            Para empezar a apostar en OpenFutbol deberás primero elegir sobre que campeonatos de futbol harás tus apuestas. Cuando tengas un campeonato registrado a tu cuenta podrás ver las fechas de los partidos y apostar sobre estas de manera gratuita.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default howto-panel-two">
                    <div class="panel-heading">
                        <h4 class="panel-title white-text">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                                Ingresa al Campeonato y apuesta
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            Para realizar las apuestas simplemente ingresa los resultados para ambos equipos del partido de tu elección y dale check en “Apostar”. Repite esta operación con todos los partidos que desees y finalmente haz click en el gran botón azul para realizar las apuestas conjuntas.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default howto-panel-three">
                    <div class="panel-heading">
                        <h4 class="panel-title white-text">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="">
                                Realiza los retos y gana monedas
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            Si te hacen falta monedas para realizar apuestas, necesitaras realizar los retos disponibles en la plataforma para poder ganar más monedas y continuar apostando. Estos retos son pequeños cuestionarios que nos ayudaran a mejorar la plataforma para que disfrutes más de esta.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default howto-panel-four">
                    <div class="panel-heading">
                        <h4 class="panel-title white-text">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="">
                                Gana puntos, se el primero de la tabla y llevate el gran premio mensual
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            Conforme vayas realizando las apuestas iras ganando puntos, y así iras escalando en la tabla de posiciones para obtener el primer lugar y ganar el gran premio mensual que se ofrecerá.
                        </div>
                    </div>
                </div>
            </div>
            
            {% if app.user %}
                <a href="{{ path('idigital_frontend_championship_index') }}" class="btn btn-info btn-lg pull-right">EMPEZAR A JUGAR</a>
            {% endif %}
            
        </div>
    </div>
</section>
{% endblock %}