{% extends 'FrontendBundle::layout.html.twig' %}

{% block content %}
<section id="welcome-registration-zone">
    <div class="row-fluid">
        <div class="col-md-7">
            <h2 class="red-text"><b>{{content.title}}</b></h2>
            <p>
                {{content.description}}
            </p>
            <img class="img-responsive" src="{{ asset('uploads/content/'~ content.uuid~'/'~content.fileName) }}" />
        </div>
        <div class="col-md-5">
            
            <div class="center-block center-section">
                <h3>APUESTAS REALIZADAS</h3>
                {% for betNumber in betNumberArr %}
                    <span class="bets-number">{{betNumber}}</span>
                {% endfor%}                
            </div>
            <br>
            <div class="center-block go-login-btn">
                <a class="btn btn-block btn-lg btn-info" href="{{path("sonata_user_security_login")}}">Iniciar Sesión</a>
            </div>
            <br>
            <div class="center-block">
                <a href="#" class="btn btn-block btn-social btn-lg btn-facebook" onclick="fb_login()"> <i class="fa fa-facebook"></i>Ingresar con Facebook</a>
            </div>
            <hr>
            <h2 class="white-text">Registro</h2>
            <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register" role="form">
                
                <div class="form-group">
                    {{ form_label(form.firstname, 'Nombres', { 'label_attr': {'class': 'control-label'} }) }}
                    {{ form_widget(form.firstname, { 'attr': {'class': 'form-control'} }) }}
                    
                </div>
                <div class="form-group">
                    {{ form_label(form.lastname, 'Apellidos', { 'label_attr': {'class': 'control-label'} }) }}
                    {{ form_widget(form.lastname, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.email) }}
                    {{ form_label(form.email, 'Correo Electrónico', { 'label_attr': {'class': 'control-label'} }) }}
                    {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group">
                    {{ form_label (form.plainPassword.first, "Password", { 'label_attr': {'class': 'control-label'} }) }}   
                    {{ form_widget (form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}  
                </div>
                <div class="form-group">
                    {{ form_errors(form.plainPassword.first) }}
                    {{ form_errors(form.plainPassword.second) }}
                    {{ form_label (form.plainPassword.second, "Confirmar Password",  { 'label_attr': {'class': 'control-label'} }) }}   
                    {{ form_widget (form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-default btn-block btn-lg">Registrarme</button>
                </div>
                {{ form_widget(form._token) }}
            </form>
        </div>
    </div>
</section>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

<div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
            // init the FB JS SDK
            FB.init({
                appId      : '598187816957482',                        // App ID from the app dashboard
                channelUrl : '//yourdomain.com/channel.html',      // Channel file for x-domain comms
                status     : true,                                 // Check Facebook Login status
                xfbml      : true                                  // Look for social plugins on the page
            });
        };

        // Load the SDK asynchronously
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function fb_login() {
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                    // connected
                   // alert('Already connected, redirect to login page to create token.');
                    document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                } else {
                    // not_authorized
                    FB.login(function(response) {
                        if (response.authResponse) {
                            document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                        } else {
                        }
                    }, {scope: 'email, public_profile, user_friends'});
                }
            });
        }
    </script>

{% endblock%}
