{% extends 'FrontendBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - Premios
{% endblock %}

{% block content %}
<section id="prizes-zone-header">
    <div class="row">
        <div class="col-md-10">
            <h2 class="red-text"><b>Nuestros Premios</b></h2>
            <p>Los premios mensuales que ofrecemos son reales, no son descuentos ni canjes, no hay ganchos ni trucos ocultos. Para esta versión Alfa 1.0 estaremos ofreciendo un premio simbólico para motivar a nuestros Alfa Testers a que nos ayuden a mejorar nuestra plataforma y crear una mejor experiencia para todos.</p>
        </div>
        <div class="col-md-2">
            <img class="img-responsive" src="{{asset('bundles/frontend/images/champ.png')}}" />
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2">
            <img class="img-responsive" src="{{asset('bundles/frontend/images/cert.png')}}" />
        </div>
        <div class="col-md-10">
            <p>El certificado de entrega del premio se hará público en redes sociales. Se realizara una ceremonia de entrega junto con el ganador del premio mensual y los socios de Open Futbol.</p>
        </div>
    </div>
</section>
<hr>
<section id="prizes-zone">
    {% for prize in prizesArr %}
    <div class="row">
        <div class="col-md-4">
            <h2 class="white-text"><b>{{prize.nombre}}</b></h2>
            <p>{{prize.descripcion}}</p>
        </div>
        <div class="col-md-4">
            <img class="img-responsive img-large center-block" src="{{ asset('uploads/marcapremios/'~ prize.uuid~'/'~prize.fileName) }}" />
        </div>
        <div class="col-md-4">
            <h3 class="white-text"><b>SPONSORS</b></h3>
            <a name = "{{prize.marca.id}}"><img class="img-responsive img-sponsor center-block" src="{{ asset('uploads/marcas/'~ prize.marca.uuid~'/'~prize.marca.fileName) }}" /></a>
        </div>
    </div>
    <hr>
    {% endfor %}
</section>
{% endblock %}