{% extends 'FrontendBundle::layout.html.twig' %}

{% block content %}
<section id="welcome-registration-zone">
    <div class="row-fluid">
        <div class="col-md-12">
            <h2 class="red-text"><b>Términos y Condiciones</b></h2>
            <h3 class="white-text">1. GENERAL</h3>
            <p>
                Los Términos y Condiciones tienen la intención de informarle sobre las políticas de OpenFutbol y las prácticas relativas al recojo, uso y divulgación de cualquier información sobre usted que directa o indirectamente puede ser atribuible a usted, tal como su nombre, dirección de correo electrónico, nombre de usuario y otra información ("Datos Personales") que usted envíe o revele a OpenFutbol al acceder a la Plataforma OpenFutbol. Esta Declaración Términos y Condiciones se aplican a todos los nuevos usuarios que se registren en nuestro sitio a partir de la Fecha Efectiva. Por favor, lea la los Términos y Condiciones cuidadosamente. Si usted no está de acuerdo con nuestras prácticas, por favor no se registre, suscriba, cree una cuenta, o de otra manera interactúe con OpenFutbol en www.openfutbol.net Por favor, póngase en contacto con nosotros si tiene alguna pregunta o comentario sobre nuestras prácticas de privacidad o de esta declaración de Términos y condiciones así como si desea la supresión de sus datos personales. Usted puede comunicarse con nosotros en línea en <a href="mailto:soporte@openfutbol.net">soporte@openfutbol.net</a>
            </p>
            <h3 class="white-text">2. CONSENTIMIENTO DEL USUARIO</h3>
            <p>
                Al registrar una cuenta OpenFutbol y acceso a la Plataforma OPENFUTBOL, usted permite la recopilación y uso de sus datos personales como se ha descrito en esta Declaración de Términos y Condiciones, que se incorpora y forma parte de nuestros Términos y condiciones. Usted incondicionalmente consiente la recopilación y el procesamiento de sus datos personales según lo especificado en la presente Declaración de Términos y Condiciones (y en su forma enmendada de tiempo en tiempo) al permitir que la Plataforma OPENFUTBOL acceda a su cuenta de Facebook.
            </p>
            <h3 class="white-text">3. RESTRICCIONES DE EDAD</h3>
            <p>
                Personas menores de 18 años no están autorizadas a utilizar los servicios de OPENFUTBOL, y nosotros no recolectamos intencionalmente o mantenemos los datos personales de las personas que están por debajo de la edad de 18 años. Mediante el uso de Servicios OPENFUTBOL, usted declara que es mayor de 18 años de edad. Si se obtiene conocimiento real que hemos recogido los datos personales de una persona menor de 18 años de edad que no tiene un padre o el consentimiento de un tutor para utilizar los servicios de OPENFUTBOL, tomaremos las medidas necesarias para eliminar los datos personales de esa persona permanentemente de nuestras bases de datos.
            </p>
            <h3 class="white-text">4. CÓMO OPENFUTBOL RECOPILA INFORMACIÓN PERSONAL</h3>
            <p>
                Le pedimos información de su cuenta de Facebook al crear una cuenta .Nosotros recopilamos información de transacciones al utilizar nuestro sitio. Por ejemplo, podemos hacer un seguimiento de las visitas, redenciones y los comentarios que realice en el Sitio u otros métodos de comunicación que pueden ser ofrecidos en o a través del Sitio Web. Nosotros utilizamos cookies y otras tecnologías relacionadas para recopilar información sobre su ordenador y su interacción con el Sitio y los sitios de los comerciantes. También recogemos información de transacciones si se comunica con nosotros por teléfono, correo electrónico, texto, correo postal, interacción de redes sociales, u otros métodos de comunicación, como por ejemplo para fines de soporte al cliente. Si utiliza una plataforma de redes sociales o su dispositivo móvil (u otro método de comunicación) para interactuar con OPENFUTBOL, la aplicación puede tener una declaración específica de privacidad que rige el uso de la información personal relacionada con la aplicación. Por ejemplo, si utiliza una aplicación móvil y la configuración de su dispositivo móvil lo permite, podemos recopilar Información de la ubicación móvil de su dispositivo. Nuestra aplicación puede ser diseñada para recoger información, incluso si no está conectado a la aplicación OPENFUTBOL. Podemos recibir información personal adicional de terceros. Podemos utilizar esta información personal para mejorar la información que tenemos sobre usted que nos ayude a mejorar los servicios OPENFUTBOL.
            </p>
            <h3 class="white-text">5. RECOLECCIÓN DE DATOS DE CARÁCTER PERSONAL</h3>
            <p>
                OPENFUTBOL recoge la información que usted voluntariamente cede, incluidos los datos personales, dentro de la Plataforma OPENFUTBOL. OPENFUTBOL recopila datos personales sobre usted y sus amigos que utilizan servicios OPENFUTBOL, de usted y la red social conectada a la Plataforma OPENFUTBOL (incluyendo su foto de perfil), con el fin de proporcionarle una experiencia más personalizada. Podemos recopilar información de su perfil de red social que ha permitido que se muestre a través de la Plataforma OPENFUTBOL y también podemos recopilar información que usted envíe al utilizar el Servicio OPENFUTBOL. También es posible que solicitemos información opcional para apoyar y mejorar el uso de los Servicios OPENFUTBOL. La información relativa a usted que está siendo procesada por OPENFUTBOL incluye: • Identificación de datos (por ejemplo, nombre, dirección de correo electrónico); • Perfil de la información (por ejemplo, edad, sexo, nacionalidad); • Datos de identificación electrónica (por ejemplo, dirección IP, cookies), y • Contenido que usted envíe durante su uso de los Servicios OPENFUTBOL, como fotos, comentarios, saludos y otra información que decida enviar.
            </p>
            <h3 class="white-text">6. CÓMO OPENFUTBOL UTILIZA LA INFORMACIÓN PERSONAL</h3>
            <p>
                OPENFUTBOL usa la información personal para: Operar y mejorar nuestros Sitios; Evaluar los tipos de productos o servicios que puedan ser de interés para los clientes; Comunicar y proporcionar información adicional que pueda ser de su interés sobre OPENFUTBOL y nuestros comerciantes y socios de negocio, tales como noticias, anuncios y materiales de marketing; gestionar nuestro negocio día a día de acuerdo a las necesidades, tales como administración, realización, análisis, prevención del fraude, Términos de uso o para cumplir con la ley.
            </p>
            <h3 class="white-text">7. INFORMACIÓN RECOPILADA A TRAVÉS DE LA TECNOLOGÍA</h3>
            <p>
                Al utilizar los Servicios de OPENFUTBOL, cierta información también puede ser recopilada pasivamente y almacenada en nuestros registros o nuestros proveedores de servicios del servidor, incluyendo su dirección IP, tipo de navegador y sistema operativo. También podemos utilizar cookies (como se define más adelante) y los datos de navegación como Localizadores Uniformes de Recursos ("URL") para recoger información sobre la fecha y hora de su visita o en cuál de los anuncios que aparecen en la Plataforma OPENFUTBOL ha hecho clic. Este tipo de información se recopila para que los servicios OPENFUTBOL sean más útiles para usted y para personalizar la experiencia con los servicios OPENFUTBOL. Por ejemplo, nosotros o nuestros proveedores de servicios, puede rastrear su dirección IP cuando se accede a la plataforma OPENFUTBOL para ayudar en la orientación de anuncios. Una "dirección de protocolo de Internet" o "Dirección IP" es un número que se asigna automáticamente a su dispositivo cuando se utiliza el Internet.
            </p>
            <h3 class="white-text">8. COOKIES Y TECNOLOGÍAS CONEXAS</h3>
            <p>
                Al utilizar nuestro Sitio, recopilamos determinada información por medios automáticos o electrónicos, utilizando tecnologías como cookies, etiquetas de píxel y balizas web, herramientas del explorador de análisis y registros del servidor web. Al utilizar nuestro sitio y aplicaciones, el navegador y los dispositivos se comunican con los servidores operados por nosotros, nuestros socios del negocio y proveedores de servicios para coordinar y registrar la interactividad y llenar sus solicitudes de servicios e información. La información de las cookies y la tecnología relacionada se almacena en los registros del servidor web y también en cookies guardadas en sus ordenadores o dispositivos móviles, que se transmiten a nuestra empresa por sus ordenadores o dispositivos móviles. Estos servidores son operados y administrados por las cookies de nosotros, nuestros socios o nuestros proveedores de servicios. Por ejemplo, cuando usted visita nuestro Sitio, OPENFUTBOL y nuestros proveedores de servicios pueden colocar cookies en sus ordenadores o dispositivos móviles. Las cookies nos permiten reconocerle cuando regrese, seguir e identificar sus intereses con el fin de proporcionar una experiencia personalizada. También nos ayudan a detectar ciertos tipos de fraude. Una "cookie" es una pequeña cantidad de información que un servidor web envía a su navegador que almacena información sobre su cuenta, sus preferencias y su uso de los Sitios. Algunas cookies contienen un número de serie que nos permiten conectar su actividad con otra información del sitio que almacenamos sobre usted en su perfil o en relación con sus interacciones con los Sitios. Algunas cookies son temporales, mientras que otras pueden ser configuradas para durar más tiempo. "Sesión cookies” son cookies temporales utilizados por diversas razones, tales como para la gestión de páginas vistas. En su navegador normalmente las cookies de sesión se borran una vez que se cierre el navegador. Cookies "persistentes" son más permanentes que las cookies, se almacenan en sus computadoras o dispositivos móviles, incluso más allá de cuando salga del navegador. Utilizamos cookies persistentes para una serie de propósitos, tales como recuperar cierta información que nos ha proporcionado anteriormente (como su nombre de usuario si lo ha olvidado o su contraseña de cuenta). Recopilamos diferentes tipos de información de las cookies y otras tecnologías. Por ejemplo, podemos recopilar información de los dispositivos que se utilizan para acceder a nuestros Sitios, el tipo de sistema operativo o modelo de dispositivo móvil, tipo de navegador, dominio y otros valores del sistema, así como el idioma que utiliza su sistema y el país y zona horaria de su dispositivo. Los navegadores habitualmente envían este tipo de información a los servidores web. Nuestro servidor registra el Protocolo de Internet ("IP") de los dispositivos que se utilizan para interactuar con los Sitios. Una dirección IP es un identificador único que utilizan los dispositivos para identificar y comunicarse entre sí a través de Internet. También podemos recopilar información acerca de la página web que estás visitando antes de venir a nuestro sitio y el sitio web que usted visita cuando sale de nuestro sitio, si esta información es suministrada a nosotros por su navegador. Podemos utilizar la información que recogemos sobre los usuarios del sitio para optimizar nuestro sitio y comprender su tráfico y los patrones de uso. En otros casos, asociamos la información que recopilamos mediante cookies y otras tecnologías relacionadas con la información personal. En ese caso, esta Declaración de Privacidad rige la manera en que utilizamos dicha información.
            </p>
            <h3 class="white-text">9. LAS PRÁCTICAS DE PRIVACIDAD DE LOS TERCEROS</h3>
            <p>
               Esta declaración de Términos y condiciones sólo se refiere al uso y divulgación de información por parte de OPENFUTBOL a través de su interacción con los Sitios web de terceros. Otros sitios web que puedan ser accesibles a través de enlaces desde nuestro sitio pueden tener sus propias declaraciones de privacidad y recopilación de información personal, uso y prácticas de divulgación. Nuestros comerciantes y socios de negocio pueden tener sus propias declaraciones de privacidad. Le recomendamos que se familiarice con las políticas de privacidad de esas otras partes antes de proporcionarles información o tomar ventaja de una promoción.  
            </p>
            <h3 class="white-text">10. CONEXIÓN FACEBOOK</h3>
            <p>
               OPENFUTBOL permite a sus usuarios interactuar con amigos y compartir en Facebook mediante la conexión de Facebook. Cuando usted se registra o inicia sesión en OPENFUTBOL, utilizamos las funciones del sitio de conexión de Facebook para enlazar tu cuenta de Facebook con tu cuenta OPENFUTBOL. Al suscribirse le otorga a OPENFUTBOL el permiso para acceder a la información de su perfil de Facebook y utilizarlo de acuerdo con los términos de uso de Facebook y esta Declaración de Privacidad.
            </p>
            <h3 class="white-text">11. CAPACIDAD PARA VER LA INFORMACIÓN</h3>
            <p>
               Al registrar una cuenta OPENFUTBOL, tus amigos de redes sociales serán notificados del uso de los Servicios OPENFUTBOL. Tus amigos de redes sociales con cuentas OPENFUTBOL serán capaces de dar tarjetas de regalo electrónicas proporcionadas por varios comerciantes. Depende de usted sentirse cómodo con la información que usted elija proporcionar a OPENFUTBOL y la información que usted decida publicar directamente en la Plataforma OPENFUTBOL o a través de su red social, que está conectado a la Plataforma OPENFUTBOL. Usted reconoce que al utilizar los Servicios de OPENFUTBOL, cierta información que usted publique o proporcione a través de la Plataforma OPENFUTBOL (tal como su nombre, perfil, comentarios, colecciones y reseñas) puede ser compartida con otros usuarios y publicado en porciones a disposición del público de OPENFUTBOL incluyendo, sin limitación, las aplicaciones de medios sociales y otros foros públicos en el que deciden participar. Por favor tenga en cuenta que si usted decide revelar datos personales cuando publique comentarios u otra información o contenido a través de la Plataforma OPENFUTBOL, esta información puede hacerse públicamente disponible y puede ser recogida y utilizada por otras personas, incluidas las personas pertenecientes a la Plataforma OPENFUTBOL. No tenemos ninguna obligación con respecto a cualquier información que publique a través de la Plataforma OPENFUTBOL y ponga a disposición de los demás, y le recomendamos que tenga cuidado al dar los datos personales a terceros a través de redes sociales.
            </p>
            <h3 class="white-text">12. SEGURIDAD DE LA INFORMACIÓN RECOPILADA</h3>
            <p>
               OPENFUTBOL se compromete a proteger la seguridad de sus datos personales. Tomaremos las medidas técnicas y organizativas con el debido cumplimiento de las obligaciones aplicables en virtud de la legislación relativa a la protección suministrada u obtenida de los datos personales y los datos de tráfico. Usamos una variedad de tecnologías estándar de la industria de seguridad y procedimientos para ayudar a proteger su información personal frente al acceso no autorizado o ilegal, uso o divulgación y la pérdida accidental, destrucción y daños. A pesar de que OPENFUTBOL ha tomado medidas importantes para proteger sus datos personales, no hay ninguna empresa, incluida la nuestra, que puede eliminar por completo los riesgos de seguridad asociados a los datos personales.
            </p>
            <h3 class="white-text">13. MODIFICACIONES A ESTA DECLARACIÓN DE PRIVACIDAD</h3>
            <p>
               De vez en cuando, podemos actualizar esta declaración de privacidad para mejorar y/o aclarar nuestras prácticas de privacidad, como cuando añadimos nuevas características a nuestro Sitio. Si hacemos algún cambio material se lo notificaremos por correo electrónico (a la dirección de correo electrónico especificada en su cuenta) o por medio de una notificación en el Sitio antes del cambio. Le animamos a que revise periódicamente esta página para obtener información actualizada acerca de nuestras políticas de privacidad.
            </p>
        </div>
    </div>
</section>
{% endblock %}