<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Open Futbol
            {% block title %}
            {% endblock %}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% block stylesheets %}
        <link href="{{ asset('bundles/frontend/images/favicon.ico') }}" rel="icon" type="image/x-icon" />
        <link rel="stylesheet" href="{{ asset('bundles/frontend/css/normalize.css')}}">
        <link rel="stylesheet" href="{{ asset('bundles/frontend/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ asset('bundles/frontend/css/bootstrap-theme.min.css')}}">
        <link rel="stylesheet" href="{{ asset('bundles/frontend/css/font-awesome.min.css')}}">
        <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('bundles/frontend/css/bootstrap-social.css')}}">
        <link rel="stylesheet" href="{{ asset('bundles/frontend/css/main.css')}}">
        {% endblock %}

        <script src="{{ asset('bundles/frontend/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js')}}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">-->
        
        <div class="container">

            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand" href="{{path("idigital_frontend_default_index")}}">
                            <h1><span class="header-white-title">Open</span> <span class="header-red-title">Futbol</span> <i class="white-text version-text">(Versión Alfa)</i></h1>
                        </a>    
                    </div>
                    
                    {% if status_code != 503%}
                    
                    {% block navigation %}
                    
                    {% set path = app.request.pathinfo %}
                    
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        {% if app.user %}
                            <ul class="nav navbar-nav pull-right main-menu">
                                
                                <li class="{% if path == "/progress" or "bets" in path or "edit-profile" in path %}active{%endif%}"><a href="{{path("idigital_frontend_user_progress")}}">Mi Progreso</a></li>
                                <li class="{% if path == "/championships" or path == "/confirmbets" or "matches" in path%}active{%endif%}"><a href="{{ path('idigital_frontend_championship_index') }}">Campeonatos</a></li>
                                <li class="{% if path == "/howto"%}active{%endif%}"><a href="{{ path('idigital_frontend_default_howto') }}">¿Cómo Jugar?</a></li>
                                <li class="{% if path == "/prizes"%}active{%endif%}"><a href="{{ path('idigital_frontend_default_prizes') }}">Premios</a></li>
                                <li class="dropdown bg-white">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{app.user.firstName}} {{app.user.lastName}}<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{path("sonata_user_profile_edit")}}">Editar Perfil</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{path("sonata_user_security_logout")}}">Salir</a></li>
                                    </ul>
                                </li>
                            </ul>
                        {% else %}
                            <ul class="nav navbar-nav pull-right hidden-xs main-menu">
                               <li class="{% if path == "/"%}active{%endif%}"><a href="{{path('idigital_frontend_default_index')}}">Home</a></li>
                               <li class="{% if path == "/howto"%}active{%endif%}"><a href="{{ path('idigital_frontend_default_howto') }}">Cómo Jugar</a></li>
                               <li class="{% if path == "/prizes"%}active{%endif%}"><a href="{{ path('idigital_frontend_default_prizes') }}">Premios</a></li>
                               <li class="{% if path == "/login"%}active{%endif%}"><a href="{{ path("sonata_user_security_login") }}">Login</a></li>
                           </ul>
                           <ul class="nav navbar-nav visible-xs main-menu">
                               <li class="{% if path == "/"%}active{%endif%}"><a href="{{path('idigital_frontend_default_index')}}">Home</a></li>
                               <li class="{% if path == "/howto"%}active{%endif%}"><a href="{{ path('idigital_frontend_default_howto') }}">Cómo Jugar</a></li>
                               <li class="{% if path == "/prizes"%}active{%endif%}"><a href="{{ path('idigital_frontend_default_prizes') }}">Premios</a></li>
                               <li class="{% if path == "/login"%}active{%endif%}"><a href="{{ path("sonata_user_security_login") }}">Login</a></li>
                           </ul>
                        {% endif %}
                           
                       </div>
                    {% endblock %}
                    {% endif %}
                </div>
            </nav>


            <hr class="hr-header">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">

            </div><!--/.navbar-collapse -->
        </div>
        <!-- </div>-->

        <div class="container content">
            <!-- Example row of columns -->
            <div class="row-fluid rgb-zone">
                {% for flashMessage in app.session.flashbag.get('message_of') %}
                    <div class="alert alert-success" role="alert">{{ flashMessage }}</div>
                {% endfor %}
                
                {% if userInformation is defined %}
                   
                {% endif %}
                {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
                {% block content %}{% endblock %}
                {% block fos_user_content %}
                {% endblock fos_user_content %}
                    
            </div>
        </div> 
        <footer class="footer text-center">
            <p>&copy; Icono Digital {{"now"|date('Y')}} - <a href="{{path("idigital_frontend_default_terms")}}" class="terms-txt">Términos y Condiciones</a></p>
        </footer>
        <!-- /container -->        

        {% block javascripts %}
        <script src="{{ asset('bundles/frontend/js/vendor/jquery-1.11.0.min.js')}}"></script>
        <script src="{{ asset('bundles/frontend/js/vendor/bootstrap.min.js')}}"></script>
        <script src="{{ asset('bundles/frontend/js/main.js')}}"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            
            /* (function(b, o, i, l, e, r) {
             b.GoogleAnalyticsObject = l;
             b[l] || (b[l] =
             function() {
             (b[l].q = b[l].q || []).push(arguments)
             });
             b[l].l = +new Date;
             e = o.createElement(i);
             r = o.getElementsByTagName(i)[0];
             e.src = '//www.google-analytics.com/analytics.js';
             r.parentNode.insertBefore(e, r)
             }(window, document, 'script', 'ga'));
             ga('create', 'UA-XXXXX-X');
             ga('send', 'pageview');*/
        </script>
        {% endblock %}

    </body>
</html>