{% if preguntaObj is null%}
<div class="row">
    <div class="col-md-12 center-section">
        <p id="endChallenge">
            El reto ha terminado gracias por participar, Si quieres seguir ganando monedas inicia otro reto!
        </p>
        <button class="btn btn-success" id ="newChallengeBtn">NUEVO RETO</button>
    </div>
</div>
{% else %}

<div class="row">
    <div class="col-md-9">
        <div class="question-area">
                {% if preguntaObj.tipo == 5 or preguntaObj.tipo == 6%}
            Vea el siguiente video
                {%else%}
                    {{preguntaObj.pregunta}}
                {%endif%}
        </div>
    </div>
    <div class="col-md-3 poll-coins-area">
        <label class="bet-label">
            Monedas a Ganar
            <img class="img img-medium coinsImg" src="/bundles/frontend/images/u98.png"> {{preguntaObj.monedasOtorgadas}}
        </label>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="answer-area">
            <div class="list-group">
                    {% if preguntaObj.tipo == 4%}
                <textarea maxlength="{{preguntaObj.limiteCaracteresRespuesta}}" id="openAnswerTxt" class="form-control" rows="3"></textarea>
                    {% elseif preguntaObj.tipo == 5 %}

                        {{preguntaObj.iframeVideo | raw}}

                <div class="question-area">
                            {{preguntaObj.pregunta}}
                </div>
                        {% for respObj in preguntaObj.respuestas %}
                <a href="#" data-ansid="{{respObj.id}}" class="list-group-item answer-option">{{respObj.respuesta}}</a>
                        {% endfor %}
                    {% elseif preguntaObj.tipo == 6 %}

                        {{preguntaObj.iframeVideo | raw}}

                <div class="question-area">
                            {{preguntaObj.pregunta}}
                </div>
                <br>
                <textarea maxlength="{{preguntaObj.limiteCaracteresRespuesta}}" id="openAnswerTxt" class="form-control" rows="3"></textarea>   

                    {%else%}
                        {% for respObj in preguntaObj.respuestas %}
                <a href="#" data-ansid="{{respObj.id}}" class="list-group-item answer-option">{{respObj.respuesta}}</a>
                        {% endfor %}

                    {% endif%}
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="questionId" value="{{preguntaObj.id}}" />

{% endif %}