{% if preguntaObj != "" and challengeObj != ""%}
<section id="challengeHeader">
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="{{ asset('bundles/frontend/images/questions_icon_blue.png') }}" style="width: 44px; height: 44px;">
        </a>
        <div class="media-body">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="media-heading pull-left">Reto: {{challengeObj.nombre}}</h4>
                </div>
                <div class="col-md-6">
                    <h4 class="media-heading pull-right"><span class="pull-right">Patrocinado por: <img style="width: 40%; height: 30%;" class="img" src="{{ asset('uploads/marcas/'~ challengeObj.sponsor.uuid~'/'~challengeObj.sponsor.fileName) }}" /></span></h4>
                </div>
            </div>            
        </div>
    </div>
    <p>{{challengeObj.descripcion}}</p>
    <hr>
</section>
<section id="challengeContent">
    
    <div class="row">
        <div class="col-md-9">
            <div class="question-area">
                {% if preguntaObj.tipo == 5 or preguntaObj.tipo == 6%}
                    Vea el siguiente video
                {%else%}
                    {{preguntaObj.pregunta}}
                {%endif%}
            </div>
        </div>
        <div class="col-md-3 poll-coins-area">
            <label class="bet-label">
                Monedas a Ganar
                <img class="img img-medium coinsImg" src="/bundles/frontend/images/u98.png"> {{preguntaObj.monedasOtorgadas}}
            </label>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="answer-area">
                <div class="list-group">
                    {% if preguntaObj.tipo == 4%}
                        <textarea maxlength="{{preguntaObj.limiteCaracteresRespuesta}}" id="openAnswerTxt" class="form-control" rows="3"></textarea>
                    {% elseif preguntaObj.tipo == 5 %}
                        
                        {{preguntaObj.iframeVideo | raw}}
                        
                        <div class="question-area">
                            {{preguntaObj.pregunta}}
                        </div>
                        {% for respObj in preguntaObj.respuestas %}
                            <a href="#" data-ansid="{{respObj.id}}" class="list-group-item answer-option">{{respObj.respuesta}}</a>
                        {% endfor %}
                    {% elseif preguntaObj.tipo == 6 %}
                        
                        {{preguntaObj.iframeVideo | raw}}
                        
                        <div class="question-area">
                            {{preguntaObj.pregunta}}
                        </div>
                        <br>
                        <textarea maxlength="{{preguntaObj.limiteCaracteresRespuesta}}" id="openAnswerTxt" class="form-control" rows="3"></textarea>   
                            
                    {%else%}
                        {% for respObj in preguntaObj.respuestas %}
                            <a href="#" data-ansid="{{respObj.id}}" class="list-group-item answer-option">{{respObj.respuesta}}</a>
                        {% endfor %}
                    
                    {% endif%}
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="questionId" value="{{preguntaObj.id}}" />
</section>
{% else %}
No hay preguntas disponibles, intente más tarde
{% endif %}