<h4>Tipos de Apuestas Disponibles:</h4>
<div class="list-group">
    <a id ="rgPopoverData" href="#" class="list-group-item">
        <span class="result-type-radius">RG</span>
        <img class="img-small" src="{{ asset('bundles/frontend/images/u98.png') }}" /> 30 monedas
        &nbsp;&nbsp;
        <img class="img-small" src="{{ asset('bundles/frontend/images/u96.png') }}" /> 3 ptos.
    </a>
    <div id="rg-popover-head" class="hide">
        <span class="result-type-radius">RG</span>
        Resultado General
    </div>
    <div id="rg-popover-content" class="hide">
        <p>
            En este tipo de apuesta ganas cuando aciertas el score de ambos equipos por igual. Es por esta razón que cuesta más monedas y te da más puntos.
        </p>
        <div class ="row-fluid center-section">
            <strong>
                <div class="col-md-6">
                    <p>Costo en monedas</p>
                    <img class="img-small" src="{{ asset('bundles/frontend/images/u98.png') }}" /> 30 monedas
                </div>
                <div class="col-md-6">
                    <p>Ptos. Ganados</p>
                    <img class="img-small" src="{{ asset('bundles/frontend/images/u96.png') }}" /> 3 ptos.
                </div>
            </strong>
        </div>
    </div>

    <a id ="rgPopoverDataWinner" href="#" class="list-group-item">
        <span class="result-type-radius">G&nbsp;&nbsp;</span>
        <img class="img-small" src="{{ asset('bundles/frontend/images/u98.png') }}" /> 20 monedas
        &nbsp;&nbsp;
        <img class="img-small" src="{{ asset('bundles/frontend/images/u96.png') }}" /> 2 ptos.                              
    </a>

    <div id="rg-popover-head-winner" class="hide">
        <span class="result-type-radius">G</span>
        Ganador
    </div>
    <div id="rg-popover-content-winner" class="hide">
        <p>
            En este tipo de apuesta ganas cuando aciertas quien fue el ganador del partido, es decir, no importa el score que hayas puesto, solo si apostaste por el ganador.
        </p>
        <div class ="row-fluid center-section">
            <strong>
                <div class="col-md-6">
                    <p>Costo en monedas</p>
                    <img class="img-small" src="{{ asset('bundles/frontend/images/u98.png') }}" /> 20 monedas
                </div>
                <div class="col-md-6">
                    <p>Ptos. Ganados</p>
                    <img class="img-small" src="{{ asset('bundles/frontend/images/u96.png') }}" /> 2 ptos.
                </div>
            </strong>
        </div>
    </div>

    <a id ="rgPopoverDataPartial" href="#" class="list-group-item">
        <span class="result-type-radius">RP</span>
        <img class="img-small" src="{{ asset('bundles/frontend/images/u98.png') }}" /> 10 monedas
        &nbsp;&nbsp;
        <img class="img-small" src="{{ asset('bundles/frontend/images/u96.png') }}" /> 1 pto.
    </a>

    <div id="rg-popover-head-partial" class="hide">
        <span class="result-type-radius">RP</span>
        Resultado Parcial
    </div>
    <div id="rg-popover-content-partial" class="hide">
        <p>
            Este tipo de apuesta es la más simple, ganas si aciertas en el score de uno de los dos equipos, es decir, si aciertas la cantidad de goles hecho por uno de los equipos que jugaron.
        </p>
        <div class ="row-fluid center-section">
            <strong>
                <div class="col-md-6">
                    <p>Costo en monedas</p>
                    <img class="img-small" src="{{ asset('bundles/frontend/images/u98.png') }}" /> 10 monedas
                </div>
                <div class="col-md-6">
                    <p>Ptos. Ganados</p>
                    <img class="img-small" src="{{ asset('bundles/frontend/images/u96.png') }}" /> 1 pto.
                </div>
            </strong>
        </div>
    </div>
</div>