<!-- Modal -->
<div class="modal fade" id="confirmBetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Confirma tus Apuestas</h4>
            </div>
            <div class="modal-body">
                <div class="bet-resume">
                    <div class="row">
                        <div class="col-md-7">
                            Total de Monedas Requeridas
                        </div>
                        <div class="col-md-4">
                            <span id="totalReqCoins"></span>
                            <img class="img img-small" src="{{ asset('bundles/frontend/images/u98.png') }}" />
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-7">
                            Monedas Disponibles
                        </div>
                        <div class="col-md-4">
                            <span id="totalAvCoins"></span>
                            <img class="img img-small" src="{{ asset('bundles/frontend/images/u98.png') }}" />
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-7">
                            <b> Monedas Restantes </b>
                        </div>
                        <div class="col-md-4">
                            <span id="totalRemCoins">0</span>
                            <img class="img img-small" src="{{ asset('bundles/frontend/images/u98.png') }}" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" id ="startBetBtn" data-dismiss="modal">Realizar Retos</button>
                <button type="submit" class="btn btn-primary">APOSTAR</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">CANCELAR</button>
            </div>
        </div>
    </div>

</div>