{% for partido in partidos %}
            {% if loop.index % 2 == 1 %}
            <div clas="row-fluid">
            {% endif %}
                <div class="col-md-6">
                {% set hideElemClass = '' %}
                {% set closeBetClass = '' %}
                    {% if partido.cerrado %}
                        {% set hideElemClass = 'hide-element' %}
                        {% set closeBetClass = 'close-bets' %}
                    {% endif %}
                    <div class="row-fluid">
                        <div class="col-md-9">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title match-data">
                                        <div>Etapa: {{ partido.etapa.nombre}}</div>
                                        <div>Fecha: {{ partido.fechaPartido|date("d/m/Y h:i A") }}</div>
                                        <div>Estadio: {{ partido.estadio}}</div>
                                    </h3>
                                </div>
                                <div class="panel-body matchInfo">
                                    <div class="row-fluid">
                                        <div class="col-md-5 team1">
                                            <img class="img-responsive img-medium" src="{{ asset('uploads/equipos/'~ partido.equipoUno.uuid~'/'~partido.equipoUno.fileName) }}" />
                                            <input name="bets['{{partido.id}}']['team1-score']" class="match-bet-txt {{hideElemClass}}" type="text" placeholder="">
                                            <h5>{{partido.equipoUno.nombre}}</h5>
                                        </div>
                                        <div class="col-md-2 vs-str">
                                            VS
                                        </div>
                                        <div class="col-md-5 team2">
                                            <input name="bets['{{partido.id}}']['team2-score']" class="match-bet-txt {{hideElemClass}}" type="text" placeholder="">
                                            <img class="img-responsive img-medium" src="{{ asset('uploads/equipos/'~ partido.equipoDos.uuid~'/'~partido.equipoDos.fileName) }}" />
                                            <h5>{{partido.equipoDos.nombre}}</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer {{closeBetClass}}">
                                    <div>Plazo Límite para apostar</div>
                                    <div class="future_date styled" data-matchid ="{{partido.id}}" data-matchdate ="{{partido.fechaPartido|date("M d, Y h:i A")}}"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 {{hideElemClass}}">
                            <label>
                                <input data-coins="{{coinsGeneral+coinsPartial+coinsWinner}}" name="bets['{{partido.id}}']['isChecked']" value="{{coinsGeneral+coinsPartial+coinsWinner}}" type="checkbox" class="bet-check">&nbsp;&nbsp;&nbsp;APOSTAR
                            </label>
                            <label class="bet-label"><span>OBTIENES</span>
                                <img class="img-responsive" src="{{ asset('bundles/frontend/images/u96.png') }}" /> {{pointsGeneral+pointsPartial+pointsWinner}}
                            </label>
                            <label class="bet-label"><span>CUESTA</span>
                                <img class="img-responsive coinsImg" src="{{ asset('bundles/frontend/images/u98.png') }}" /> {{coinsGeneral+coinsPartial+coinsWinner}}
                            </label>
                        </div>
                    </div>

                </div>
            {% if (loop.index % 2 == 0 or loop.last) %}
            </div>
            {% endif %}
        {% endfor %}