{% extends 'FrontendBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - Campeonatos
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/frontend/slider/owl.carousel.css')}}" />
<link rel="stylesheet" href="{{ asset('bundles/frontend/select2/select2.css')}}" />
<link rel="stylesheet" href="{{ asset('bundles/frontend/slider/owl.theme.css')}}" />
{% endblock %}

{% block content %}
<section id="championship-zone">
    <div class="alert alert-warning hide-element" role="alert">Selecciona un Campeonato o Liga para ver los partidos</div>
    <ul class="nav nav-tabs" role="tablist">
        <li><h3 class="white-text">CAMPEONATOS&nbsp;&nbsp;&nbsp;</h3></li>
        <li class="active"><a href="{{ path('idigital_frontend_championship_index') }}">Resumen</a></li>
        <li><a id ="matches-tab" href="#">Partidos</a></li>
        <li class="points-zone">
            <div class="pull-right points">
                {% set userPoints = 0 %}
                {% if userObj.puntos !="" %}
                    {% set userPoints = userObj.puntos %}
                {% endif %}
                
                {% set userCoins= 0 %}
                {% if userObj.monedas !="" %}
                    {% set userCoins = userObj.monedas %}
                {% endif %}
                <img class="img-responsive" src="{{ asset('bundles/frontend/images/u96.png') }}" /> {{userPoints}} ptos.  &nbsp; 
                <img data-placement="top" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?" class="img-responsive img-popover" src="{{ asset('bundles/frontend/images/u98.png') }}" /> {{userCoins}} monedas
            </div>
        </li>
    </ul>
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="panel panel-default panel-champs">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="panel-title red-text">Campeonatos Suscritos</h3>
                        </div>
                        <div class="col-md-6">
                            <select class="pull-right selectImproved champList">
                                <option></option>
                                {% for champObj in champsReg %}
                                <option value="{{ path('idigital_frontend_championship_matches', {'champId': champObj.id}) }}">{{champObj.nombre}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div id="owl-example" class="owl-carousel">
                     {% for champObj in champsReg %}
                    <div><a href="{{ path('idigital_frontend_championship_matches', {'champId': champObj.id}) }}"><img src="{{ asset('uploads/campeonatos/'~ champObj.uuid~'/'~champObj.fileName) }}" /></a></div>
                     {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="panel panel-default panel-champs">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="panel-title red-text">Campeonatos Disponibles</h3>
                        </div>
                        <div class="col-md-6">
                            <select class="pull-right selectImproved champNotRegList">
                                <option></option>
                        {% for champObj in champsNotReg %}
                                <option value="{{ path('idigital_frontend_championship_matches', {'champId': champObj.id}) }}" data-champid ="{{champObj.id}}" data-champname ="{{champObj.nombre}}" data-champdesc ="{{champObj.descripcion}}" data-champimg="{{ asset('uploads/campeonatos/'~ champObj.uuid~'/'~champObj.fileName) }}">{{champObj.nombre}}</option>
                        {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div id="owl-example" class="owl-carousel">
                     {% for champObj in champsNotReg %}
                    <div><a class="confirmRegModal" data-toggle="modal" data-target="#confirmRegModal" href="#" data-champid ="{{champObj.id}}" data-champname ="{{champObj.nombre}}" data-champdesc ="{{champObj.descripcion}}"><img src="{{ asset('uploads/campeonatos/'~ champObj.uuid~'/'~champObj.fileName) }}" /></a></div>
                     {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="panel panel-default brand-panel">
                <div class="panel-heading">
                    <h3 class="panel-title white-text">Sponsors y Premios</h3>
                </div>
                <div id="owl-example" class="owl-carousel">
                    {% for marcaObj in marcas %}
                    <div><a href="{{path("idigital_frontend_default_prizes")}}#{{marcaObj.id}}"><img src="{{ asset('uploads/marcas/'~ marcaObj.uuid~'/'~marcaObj.fileName) }}"/></a></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirmRegModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirmación</h4>
                </div>
                <div class="modal-body">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img id="champ-img" class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading" id="champ-name"></h4>
                            <p id="champ-desc"></p>
                            <p>¿Desea suscribirse en este campeonato?</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <form class="form-inline" role="form" method="POST" action="registerchamp">
                        <input type="hidden" name="champId" id="champ-id" value="" />
                        <button type="submit" class="btn btn-primary">SI</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    
    {% if welcome %}
    <!-- Welcome Modal -->
    <div class="modal fade in" id="welcomeModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title center-section" id="myModalLabel">Excelente!!</h3>
                </div>
                <div class="modal-body">
                    <h4 class="center-section">Su registro a sido confirmado exitosamente, es hora de apostar!</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script src="{{ asset('bundles/frontend/slider/owl.carousel.js')}}"></script>
<script src="{{ asset('bundles/frontend/select2/select2.js')}}"></script>
<script>
    var mainObj = function() {
        MainClass.apply(this, arguments); // Call parent class constructor
    };

    mainObj.prototype = MainClass.prototype;
    mainObj.prototype.initSlider2(".owl-carousel");
    mainObj.prototype.initSelect2(".selectImproved", "Seleccione un Campeonato");
    mainObj.prototype.initEvents("#matches-tab", ["click"]);
    mainObj.prototype.initEvents(".champList", ["change"]);
    mainObj.prototype.initEvents(".champNotRegList", ["change"]);
    mainObj.prototype.initEvents(".confirmRegModal", ["click"]);
    mainObj.prototype.initModal("#confirmRegModal");
    
    {% if welcome %}
        mainObj.prototype.initModalShow("#welcomeModal");
    {% endif %}
        
</script>
{% endblock %}