{% extends 'FrontendBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/frontend/slider/owl.carousel.css')}}">
<link rel="stylesheet" href="{{ asset('bundles/frontend/select2/select2.css')}}" />
<link rel="stylesheet" href="{{ asset('bundles/frontend/slider/owl.theme.css')}}">
{% endblock %}

{% block content %}

{% for flashMessage in app.session.flashbag.get('numBetsDone') %}
    <div class="alert alert-info" role="alert">
        <button type="button" class="close message-close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4><strong>{{flashMessage}}</strong></h4>

        {% for betResumeMsg in app.session.flashbag.get('betResume') %}
            {{betResumeMsg | raw}}
        {%endfor%}
        
        <div class="row">
            <div class="col-md-12 center-section">
                <a type="button" class="btn btn-success btn-lg resume-btn" href="{{path("idigital_frontend_user_bets")}}">Ver mis Apuestas <span class="glyphicon glyphicon-list-alt"></span></a>
                <button onclick="$('.message-close').trigger('click');" type="button" class="btn btn-primary btn-lg resume-btn">Seguir Apostando <span class="glyphicon glyphicon-thumbs-up"></span></button>
                <button onclick="$('.message-close').trigger('click');$('#newCoinsBtn').trigger('click');" type="button" class="btn btn-lg btn-getnewcoins-sm resume-btn">Ganar Monedas <span class="glyphicon glyphicon-usd"></span></button>
            </div>
        </div>
    </div>
{% endfor %}

<section id="matches-zone">
    <ul class="nav nav-tabs" role="tablist">
        <li><h3 class="white-text">CAMPEONATOS&nbsp;&nbsp;&nbsp;</h3></li>
        <li><a href="{{ path('idigital_frontend_championship_index') }}">Resumen</a></li>
        <li class="active"><a href="{{ path('idigital_frontend_championship_matches', {"champId" : champObj.id}) }}">Partidos</a></li>
        <li class="points-zone">
            <div class="pull-right points">
                
                {% set userPoints = 0 %}
                {% if userObj.puntos !="" %}
                    {% set userPoints = userObj.puntos %}
                {% endif %}
                
                {% set userCoins= 0 %}
                {% if userObj.monedas !="" %}
                    {% set userCoins = userObj.monedas %}
                {% endif %}
                
                <img class="img-responsive" src="{{ asset('bundles/frontend/images/u96.png') }}" /> {{userPoints}} ptos.  &nbsp; 
                <img data-placement="top" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?" class="img-responsive img-popover" src="{{ asset('bundles/frontend/images/u98.png') }}" /> <span id="user-current-coins">{{userCoins}}</span> monedas
                <input id ="user-current-coins-hidden" type="hidden" value="{{userCoins}}"/>
            </div>
        </li>
    </ul>
    <div class="row-fluid">
        <div class="col-md-8">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="{{ asset('uploads/campeonatos/'~ champObj.uuid~'/'~champObj.fileName) }}" style="width: 64px; height: 64px;">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">{{champObj.nombre}}</h4>
                    {{champObj.descripcion}}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            {{ include('FrontendBundle:Championship:betTypes.html.twig') }}
        </div>
    </div>
    {% if userObj.monedas <= 0%}
    <div class="row" id="alertNoCoins">
        <div class="col-md-12 center-section">
                <div class="alert alert-info" role="alert">No tiene suficientes monedas para apostar, gana monedas AQUI</div>
        </div>
    </div>
    {% else %}
    <div class="row hide-element" id="alertNoCoins">
        <div class="col-md-12 center-section">
                <div class="alert alert-info" role="alert">No tiene suficientes monedas para apostar, gana monedas AQUI</div>
        </div>
    </div>
    {% endif %}
    

    {% if partidos is empty %}
    <div class="row next-matches">
        <div class="col-md-12">
            <div class="alert alert-warning" role="alert">No hay partidos registrados</div>
        </div>
    </div>
    {% else %}

    <div class="row next-matches">
        <div class="col-md-4">
            <h3>PRÓXIMOS PARTIDOS</h3>
        </div>
        <div class="col-md-8">
            <button id="confirmBetBtn" type="button" class="btn btn-confirm-bet btn-lg" disabled="disabled">
                CONFIRMAR APUESTAS <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button id="newCoinsBtn" type="button" class="btn btn-getnewcoins btn-lg">
                GANAR MONEDAS <span class="glyphicon glyphicon-usd"></span>
            </button>
        </div>
    </div>
    <form action="{{path("idigital_frontend_championship_confirmbets")}}" id="bets-form" method="POST">
        <section id="matches-dates">
            {{ include('FrontendBundle:Championship:matchesSection.html.twig') }}
        </section>
        {{ include('FrontendBundle:Championship:confirmBetModal.html.twig') }}
    </form>
    
    {{ include('FrontendBundle:Championship:modals.html.twig') }}
    
    {% endif %}
</section>

<audio id="audio" src="{{ asset('bundles/frontend/audio/ching.mp3') }}" ></audio>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
<!-- Include js plugin -->
<script src="{{ asset('bundles/frontend/slider/owl.carousel.js')}}"></script>
<script src="{{ asset('bundles/frontend/select2/select2.js')}}"></script>
<script src="{{ asset('bundles/frontend/countdown/jquery.countdown.js')}}"></script>
<script>

    $(function() {

        var mainObj = new MainClass(["bets"]);

        mainObj.prototype = MainClass.prototype;
        mainObj.prototype.constructor();
        mainObj.prototype.initSlider2(".owl-carousel");
        mainObj.prototype.initSelect2(".selectImproved");
        mainObj.prototype.initpopOver("#rgPopoverData", "#rg-popover-head", "#rg-popover-content");
        mainObj.prototype.initpopOver("#rgPopoverDataWinner", "#rg-popover-head-winner", "#rg-popover-content-winner");
        mainObj.prototype.initpopOver("#rgPopoverDataPartial", "#rg-popover-head-partial", "#rg-popover-content-partial");
        mainObj.prototype.initCountdown(".future_date");
        mainObj.prototype.initEvents(".bet-check", ["click"]);
        mainObj.prototype.initEvents(".more-match-btn", ["click"]);
        mainObj.prototype.initEvents("#confirmBetBtn", ["click"]);
        mainObj.prototype.initEvents("#startBetBtn", ["click"]);
        mainObj.prototype.initEvents(".answer-option", ["click"]);
        mainObj.prototype.initEvents("#nextQuestionBtn", ["click"]);
        mainObj.prototype.initEvents("#newChallengeBtn", ["click"]);
        mainObj.prototype.initEvents("#alertNoCoins", ["click"]);
        mainObj.prototype.initEvents("#finishChallengeBtn", ["click"]);
        mainObj.prototype.initEvents("#newCoinsBtn", ["click"]);
        mainObj.prototype.initEvents("#moreCoinsModalBtn", ["click"]);
        mainObj.prototype.initEvents("#confirmAnswerBtn", ["click"]);
        mainObj.prototype.initEvents("a", ["click"]);
        mainObj.prototype.initModal("#confirmBetModal");
        mainObj.prototype.initModal("#challengeModal");
        mainObj.prototype.initModal("#moreCoinsModal");
        mainObj.prototype.initModal("#keepPageModal");
        mainObj.prototype.initRestrictOnlyNumbers(".match-bet-txt");
    })
</script>
{% endblock %}