<div class="modal fade" id="challengeModal" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id ="challengeZone"> 
            </div>
            <div class="center-section"><img id="questionLoader" class="center-block hide-element" src="{{ asset('bundles/frontend/images/question_loader.gif') }}" /></div>
            <div id="questionsFooter" class="modal-footer center-section">
                <button id ="finishChallengeBtn" type="button" class="btn btn-default pull-left" data-dismiss="modal">FINALIZAR</button>
                <button id ="confirmAnswerBtn" type="button" class="btn btn-default btn-confirmasnwer-sm center-section disabled"><b>Confirmar Respuesta</b> <span class="glyphicon glyphicon-ok"></span></button>
                <button type="button" class="btn btn-primary pull-right" id="nextQuestionBtn">SIGUIENTE</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="moreCoinsModal" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header center-section">
                <h3> No tienes monedas suficientes para apostar! </h3>
            </div>
            <div class="modal-body" id =""> 
                Para realizar más apuestas, procura ingresar a nuestros retos, ganar monedas, y así poder apostar a todos los partidos y tener mas posibilidades de ganar nuestros premios!
            </div>
            <div id="" class="modal-footer">
                <button id ="moreCoinsModalBtn" type="button" class="btn btn-default btn-getnewcoins-sm pull-left" data-dismiss="modal">GANAR MÁS MONEDAS <span class="glyphicon glyphicon-usd"></span></button>
                <button type="button" class="btn btn-default" data-dismiss="modal">NO GRACIAS</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="keepPageModal" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header center-section">
                <h3>Tienes <span id="keepBetCounter"></span> apuestas pendientes de confirmar, ¿Deseas confirmarlas antes de salir?!</h3>
            </div>
            <div class="modal-body" id =""> 
            </div>
            <div id="" class="modal-footer">
                <button onclick="$('#bets-form').submit();" id ="keepConfirmModalBtn" type="button" class="btn btn-default btn-getnewcoins-sm pull-left" data-dismiss="modal">CONFIRMAR <span class="glyphicon glyphicon-thumbs-up"></span></button>
                <button id="keepConfirmNoThanksBtn" type="button" class="btn btn-default" data-dismiss="modal">NO GRACIAS</button>
            </div>
        </div>
    </div>
</div>