{% block subject %}
    {% autoescape false %}
        {{ 'registration.email.subject'|trans({'%username%': user.firstName~' '~user.lastName, '%confirmationUrl%': confirmationUrl}, 'FOSUserBundle') }}
    {% endautoescape %}
{% endblock %}
{% block body_text %}{% endblock %}
{% block body_html %}
<html>
<head>
</head>
<body style="width: 100%">
<p>Hola {{user.firstName~' '~user.lastName}}!</p>
<p>Para completar el registro de tu cuenta en OpenFutbol, accede al siguiente link:</p>
<br>
<a style='text-align: center;' href='{{confirmationUrl}}'>{{confirmationUrl}}</a>
<br>
<br>
Atentamente,
<br>
El equipo de OpenFutbol.
<br>
<br>
</body>
</html>
{% endblock %}