{% extends 'FrontendBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - Mi Progreso
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/frontend/slider/owl.carousel.css')}}" />
<link rel="stylesheet" href="{{ asset('bundles/frontend/select2/select2.css')}}" />
<link rel="stylesheet" href="{{ asset('bundles/frontend/slider/owl.theme.css')}}" />
{% endblock %}

{% block content %}
<section id="progress-zone">
    <ul class="nav nav-tabs" role="tablist">
        <li><h3 class="white-text">MI PROGRESO&nbsp;&nbsp;&nbsp;</h3></li>
        <li><a href="{{path("idigital_frontend_user_progress")}}">Resumen</a></li>
        <li class="active"><a href="{{ path('idigital_frontend_user_bets') }}">Mis Apuestas</a></li>
        <li><a class="disabled" href="{{path("sonata_user_profile_edit")}}">Mi Perfil</a></li>
        <li class="points-zone">
            <div class="pull-right points">
                {% set userPoints = 0 %}
                {% if userObj.puntos !="" %}
                    {% set userPoints = userObj.puntos %}
                {% endif %}
                
                {% set userCoins= 0 %}
                {% if userObj.monedas !="" %}
                    {% set userCoins = userObj.monedas %}
                {% endif %}
                <img class="img-responsive" src="{{ asset('bundles/frontend/images/u96.png') }}" /> {{userPoints}} ptos.  &nbsp; 
                <img data-placement="top" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?" class="img-responsive img-popover" src="{{ asset('bundles/frontend/images/u98.png') }}" /> {{userCoins}} monedas
            </div>
        </li>
    </ul>

    <section id="user-bets-zone">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default panel-champs">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                                <select class="pull-right selectImproved champList">
                                    <option></option>
                                {% for champObj in champsReg %}
                                    <option value="{{ path('idigital_frontend_user_bets', {'champId': champObj.id}) }}">{{champObj.nombre}}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="owl-example" class="owl-carousel">
                     {% for champObj in champsReg %}
                        <div><a href="{{ path('idigital_frontend_user_bets', {'champId': champObj.id}) }}"><img src="{{ asset('uploads/campeonatos/'~ champObj.uuid~'/'~champObj.fileName) }}" /></a></div>
                     {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-6 v-center-bets">
                <div class="content-col">
                    <div class="table-cell1">
                        {% if app.request.get('champId') != 0%}
                            <img class="img" data-src="holder.js/80x80" src="{{ asset('uploads/campeonatos/'~ champObj.uuid~'/'~champObj.fileName) }}" style="width: 80px; height: 80px;">
                            <h4 class="media-heading inline-heading">{{champObj.nombre}}</h4>
                        {% else %}
                            <h4 class="media-heading inline-heading">Vista General de Apuestas</h4>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title red-text">Mis Números</h3>
                    </div>
                    {% set totalWon = 0 %}
                    {% set totalCoins = 0 %}
                    {% set totalPoints = 0 %}
                    
                    {% for bet in allBets %}
                        {% if bet.gano > 0 %}
                            {% set totalWon =totalWon +1 %}
                        {% endif %}
                        {% set totalCoins =totalCoins +coinsGeneral+coinsWinner+coinsPartial %}
                        {% set totalPoints = totalPoints+bet.gano%}    
                    {% endfor %}
                    
                    <div class="panel-body black-text">
                        <ul class="list-no-style list-user-status">
                            <li>Apuestas Realizadas: {{allBets | length}}</li>
                            <li>Apuestas Ganadas: 
                            {{totalWon}}
                            </li>
                        </ul>
                        <ul class="list-no-style list-user-status">
                            <li>Monedas Invertidas: 
                                {{totalCoins}}
                            </li>
                            <li>Puntos Ganados: {{totalPoints}}</li>
                        </ul>
                    </div>
                </div>
                
                {% set aux = 0%}
                {% if app.request.get('champId') != 0%}
                    {% set aux = app.request.get('champId')%}
                {%endif%}
                <a href="{{ path('idigital_frontend_championship_matches', {"champId" : aux}) }}" class="btn btn-info btn-lg pull-right">APOSTAR</a>    
            </div>
        </div>
        <br>
        <div class="table-responsive">
            <table class="table table-hover" id ="betTable">
                <thead>
                    <tr>
                        <th>N°</th>
                        {% if aux == 0%}
                        <th>Campeonato</th>
                        {%endif%}
                        <th>Etapa</th>
                        <th>Fecha</th>
                        <th>Equipos</th>
                        <th>Resultado Final</th>
                        <th>Apuesta</th>
                        <th>Monedas Invertidas</th>
                        <th>Ptos. Ganados</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for bet in userBets %}
                    {% set closed = bet.partido.cerrado %}
                    <tr>
                        <td>{{loop.index}}</td>
                        {% if aux == 0%}
                        <td>{{bet.partido.campeonato.nombre}}</td>
                        {%endif%}
                        <td>{{bet.partido.etapa.nombre}}</td>
                        <td>{{bet.partido.fechaPartido | date("d/m/Y")}}</td>
                        <td>{{bet.partido.equipoUno.nombre}} - {{bet.partido.equipoDos.nombre}}</td>
                        <td>
                            {% if closed %}
                                {{bet.partido.scoreUno}} - {{bet.partido.scoreDos}}
                            {% else %}
                            Por Definir
                            {% endif %}
                        </td>
                        <td>{{bet.apuestaScore1}} - {{bet.apuestaScore2}}</td>
                        <td>60</td>
                        {% set styleClass = "" %}
                        {% if closed %}
                            {% if bet.gano == 6%}
                                {% set styleClass = "fill-green" %}
                            {%else%}
                                {% if bet.gano < 6 and bet.gano > 0%}
                                    {% set styleClass = "fill-orange" %}
                                {%else%}
                                    {% if bet.gano == 0%}
                                        {% set styleClass = "fill-red" %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}

                        <td class="{{styleClass}}">  
                            {% if closed %}
                                {{bet.gano}}
                            {% else %}
                                Por Definir
                            {% endif %}
                        </td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="more-match-content"></div>
        <div class="row-fluid">
            <div class="col-md-12 center-section">
                <button class="more-bets-btn" data-champid = "{{aux}}">
                    <span class="glyphicon glyphicon-repeat" id="refresh-icon"></span>
                    <span class="hide-element" id="loading-icon"><img src="{{ asset('bundles/frontend/images/loader.gif') }}" /></span>
                    Cargar más Resultados
                </button>
            </div>
        </div>
    </section>
</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

<script src="{{ asset('bundles/frontend/slider/owl.carousel.js')}}"></script>
<script src="{{ asset('bundles/frontend/select2/select2.js')}}"></script>
<script>
    var mainObj = function() {
        MainClass.apply(this, arguments); // Call parent class constructor
    }

    mainObj.prototype = MainClass.prototype;
    mainObj.prototype.initSlider2(".owl-carousel");
    mainObj.prototype.initSelect2(".selectImproved", "Seleccione un Campeonato");
    mainObj.prototype.initEvents(".more-bets-btn", ["click"]);
    mainObj.prototype.initEvents(".champList", ["change"]);
    

</script>
{% endblock %}