{% set index = offset+1%}

{% for bet in bets %}
{% set closed = bet.partido.cerrado %}
<tr>
    <td>{{index}}</td>
    {%if champId==0%}
    <td>{{bet.partido.campeonato.nombre}}</td>
    {%endif%}
    <td>{{bet.partido.etapa.nombre}}</td>
    <td>{{bet.partido.fechaPartido | date("d/m/Y")}}</td>
    <td>{{bet.partido.equipoUno.nombre}} - {{bet.partido.equipoDos.nombre}}</td>
    <td>
        {% if closed %}
            {{bet.partido.scoreUno}} - {{bet.partido.scoreDos}}
        {% else %}
        Por Definir
        {% endif %}
    </td>
    <td>{{bet.apuestaScore1}} - {{bet.apuestaScore2}}</td>
    <td>60</td>
        {% set styleClass = "" %}
            {% if closed %}
            {% if bet.gano == 6%}
                {% set styleClass = "fill-green" %}
            {%else%}
                {% if bet.gano < 6 and bet.gano > 0%}
                    {% set styleClass = "fill-orange" %}
                {%else%}
                    {% if bet.gano == 0%}
                        {% set styleClass = "fill-red" %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}

    <td class="{{styleClass}}">  
        {% if closed %}
            {{bet.gano}}
        {% else %}
            Por Definir
        {% endif %}
    </td>
    
</tr>
{% set index = index+1%}
{% endfor %}