{% extends 'FrontendBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - Mi Progreso
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
<script src="http://connect.facebook.net/en_US/all.js"></script>
{% endblock %}

{% block content %}
<section id="progress-zone">
    <ul class="nav nav-tabs" role="tablist">
        <li><h3 class="white-text">MI PROGRESO&nbsp;&nbsp;&nbsp;</h3></li>
        <li class="active"><a href="{{path("idigital_frontend_user_progress")}}">Resumen</a></li>
        
        {% if userObj.apuestas|length > 0%}
        <li><a href="{{ path('idigital_frontend_user_bets') }}">Mis Apuestas</a></li>
        
        {% endif %}
        <li><a class="disabled" href="{{path("sonata_user_profile_edit")}}">Mi Perfil</a></li>
        
    </ul>

    <section id="user-progress-zone">
        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-5 user-info-col">
                        <div class="media">
                            <a class="pull-left" href="#">
                            {% set imgPath = asset("bundles/frontend/images/user.png") %}
                            {% if userObj.fileName != "" %}
                            {% set imgPath = asset('uploads/usuarios/'~ userObj.uuid~'/'~userObj.fileName) %}
                            {% endif %}
                                <img class="media-object" data-src="holder.js/100x100" alt="" src="{{imgPath}}" style="width: 100px; height: 100px;">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">{{userObj.firstName}} {{userObj.lastName}}</h4>
                                <ul class="list-no-style">
                                    <li>Pais: 
                                        {% if userObj.pais != "" %}
                                            {{countryArr[userObj.pais]}}
                                        {% endif %}
                                    </li>
                                    <li>Ranking: {{userRanking}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 user-resources-info">
                        <h4 class="media-heading">RECURSOS</h4>
                        <div class="pull-left">
                            <div class="resource-info"><img class="img-responsive img-medium" src="{{ asset("/bundles/frontend/images/u96.png")}}"> {{userObj.puntos}} Ptos.</div>
                            <div class="resource-info"><img class="img-responsive img-medium" src="{{ asset("/bundles/frontend/images/u98.png")}}"> {{userObj.monedas}} Monedas </div>
                            <div class="resource-info"><img class="img-responsive img-medium" src="{{ asset("/bundles/frontend/images/gems.png")}}"> {{userObj.gemas}} Gemas </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 v-center">
                <div class="content-col">
                    <div class="table-cell1">
                        <a href="{{ path('idigital_frontend_championship_index') }}" class="btn btn-info btn-lg">APOSTAR</a>    
                    </div>
                </div>

            </div>
        </div>
    </section>
    <hr>
    <div class="row">
        <div class="col-md-8">
            <h4 class="media-heading"><b>TABLA DE POSICIONES</b></h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Jugador</th>
                            <th># Apuestas Realizadas</th>
                            <th># Apuestas Ganadas</th>
                            <th>Puntos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set outOfRanking = true %}
                        {% set rankingIndex = 1 %}
                        {% set pointsAux = 0 %}

                        {% for playerObj in ranking %}

                            {% if loop.index == 1 %}
                                    {% set rankingIndex = loop.index %}
                                    {% set pointsAux = playerObj.puntos %}
                            {% else %}

                                {% if playerObj.puntos < pointsAux %}
                                        {% set rankingIndex = loop.index %}
                                        {% set pointsAux = playerObj.puntos %}
                                {% endif %}

                            {% endif %}

                            {% if playerObj.id == userObj.id %}
                                {% set outOfRanking = false %}
                        <tr class="ranking-row">
                            <td>{{rankingIndex}}</td>
                            <td>TU</td>
                            <td>{{userObj.apuestas | length}}</td>
                            <td>
                                                        {% set totalWon = 0 %}
                                                        {% for bet in userObj.apuestas %}
                                                            {% if bet.gano > 0 %}
                                                                {% set totalWon =totalWon +1 %}
                                                            {% endif %}
                                                        {% endfor %}
                                                        {{totalWon}}
                            </td>
                            <td>{{userObj.puntos}}</td>
                        </tr>
                            {% else %}
                        <tr>
                            <td>{{rankingIndex}}</td>
                            <td>{{playerObj.firstName}} {{playerObj.lastName}}</td>
                            <td>{{playerObj.apuestas | length}}</td>
                            <td>
                                                        {% set totalWon = 0 %}
                                                        {% for bet in playerObj.apuestas %}
                                                            {% if bet.gano > 0 %}
                                                                {% set totalWon =totalWon +1 %}
                                                            {% endif %}
                                                        {% endfor %}
                                                        {{totalWon}}
                            </td>
                            <td>{{playerObj.puntos}}</td>
                        </tr>
                            {% endif %}
                        {% endfor %}

                        {% if outOfRanking%}
                        <tr class="ranking-row">
                            <td>{{userRanking}}</td>
                            <td>TU</td>
                            <td>{{userObj.apuestas | length}}</td>
                            <td>
                                {% set totalWon = 0 %}
                                {% for bet in userObj.apuestas %}
                                    {% if bet.gano > 0 %}
                                        {% set totalWon =totalWon +1 %}
                                    {% endif %}
                                {% endfor %}
                                {{totalWon}}
                            </td>
                            <td>{{userObj.puntos}}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <h4><b>TOTAL DE JUGADORES: {{totalPlayers}}</b></h4>
        </div>

        <div class="col-md-4">
            <h4 class="media-heading"><b>ESTADISTICAS</b></h4>

            {% if userObj.apuestas|length > 0 %}

            <div class="canvas-holder">
                <canvas id="chart-area" width="250" height="250"/>
            </div>
            <ul style="text-align: center">
                <li class="bet-win-li">Apuestas Ganadas</li>
                <li class="bet-lose-li">Apuestas Realizadas</li>
            </ul>
            {% else %}
            Realiza apuestas para generar tus estadisticas
            {% endif %}
        </div>

    </div>
    <hr>
    <div class="row-fluid">
        <div class="col-md-8">
            {% set numPointsFb = 0 %}
            {% if rankingFbook is not empty %}
            <h4 class="media-heading"><b>TABLA DE POSICIONES CON TUS AMIGOS DE FACEBOOK</b> 
               <!-- <script>
                    FB.init({
                        appId: '598187816957482',
                        cookie: true,
                        status: true,
                        xfbml: true,
                    });

                    function FacebookInviteFriends()
                    {
                        FB.ui({
                            method: 'apprequests',
                            message: 'Te invito a que apuestes conmigo en Open Futbol, para ver quien gana más!',
                        },
                        function(response){
                            console.log(response);
                        });
                    }
                </script>

                <a class="btn btn-social btn-facebook pull-right" href='#' onclick="FacebookInviteFriends();
                return false;"><i class="fa fa-facebook"></i> Invita a tus Amigos</a>
                <div id="fb-root"></div>-->
            </h4>
            <br>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Jugador</th>
                            <th># Apuestas Realizadas</th>
                            <th># Apuestas Ganadas</th>
                            <th>Puntos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set outOfRanking = true %}
                        {% set rankingIndex = 1 %}
                        {% set pointsAux = 0 %}
                        

                        {% for playerObj in rankingFbook %}

                            {% if loop.index == 1 %}
                                    {% set rankingIndex = loop.index %}
                                    {% set pointsAux = playerObj.puntos %}
                            {% else %}

                                {% if playerObj.puntos < pointsAux %}
                                        {% set rankingIndex = loop.index %}
                                        {% set pointsAux = playerObj.puntos %}
                                {% endif %}

                            {% endif %}


                            {% if playerObj.id == userObj.id %}
                                {% set outOfRanking = false %}
                        <tr class="ranking-row">
                            <td>{{rankingIndex}}</td>
                            <td>TU</td>
                            <td>{{userObj.apuestas | length}}</td>
                            <td>
                                {% set totalWon = 0 %}
                                {% for bet in userObj.apuestas %}
                                    {% if bet.gano > 0 %}
                                        {% set totalWon =totalWon +1 %}
                                    {% endif %}
                                {% endfor %}
                                {% set numPointsFb = numPointsFb + totalWon %}
                                {{totalWon}}
                            </td>
                            <td>{{userObj.puntos}}</td>
                        </tr>
                            {% else %}
                        <tr>
                            <td>{{rankingIndex}}</td>
                            <td>{{playerObj.firstName}} {{playerObj.lastName}}</td>
                            <td>
                                {{playerObj.apuestas | length}}
                            </td>
                            <td>
                                {% set totalWon = 0 %}
                                {% for bet in playerObj.apuestas %}
                                    {% if bet.gano > 0 %}
                                        {% set totalWon =totalWon +1 %}
                                    {% endif %}
                                {% endfor %}
                                
                                {% set numPointsFb = numPointsFb + totalWon %}
                                
                                {{totalWon}}
                            </td>
                            <td>{{playerObj.puntos}}</td>
                        </tr>
                            {% endif %}
                        {% endfor %}

                        {% if outOfRanking%}
                        <tr class="ranking-row">
                            <td>{{userFbookRanking}}</td>
                            <td>TU</td>
                            <td>
                                {% set numBetsFb = numBetsFb + playerObj.apuestas | length %}
                                {{userObj.apuestas | length}}
                            </td>
                            <td>
                                {% set totalWon = 0 %}
                                {% for bet in userObj.apuestas %}
                                    {% if bet.gano > 0 %}
                                        {% set totalWon =totalWon +1 %}
                                    {% endif %}
                                {% endfor %}
                                
                                {% set numPointsFb = numPointsFb + totalWon %}
                                {{totalWon}}
                            </td>
                            <td>{{userObj.puntos}}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <p>Para competir con tus amigos de Facebook, ingresa <a class="btn  btn-social btn-facebook" href="#" onclick="fb_login()"><i class="fa fa-facebook"></i>AQUI</a></p>
            {% endif %}
        </div>
        <div class="col-md-4">
            
            {% if numPointsFb > 0%}
                <h4 class="media-heading"><b>ESTADISTICAS DE PTOS ACUMULADOS</b></h4>

                <div class="canvas-holder">
                    <canvas id="chart-fb-area" width="250" height="250"/>
                </div>
                <ul class="fbook-players-ranking">
                    {% for playerObj in rankingFbook %}
                        <li class="bet-fbook-{{loop.index}}">{{playerObj.firstName}} {{playerObj.lastName}} - {{playerObj.puntos}} pts.</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No hay puntos ganados entre tus amigos y tu, ganen apuestas y veran quiénes son los mejores 10!</p>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}

{% set totalWon = 0 %}
{% for bet in userObj.apuestas %}
    {% if bet.gano %}
        {% set totalWon =totalWon +1 %}
    {% endif %}
{% endfor %}

{% block javascripts %}
    {{ parent() }}
<script src="{{ asset('bundles/frontend/js/vendor/Chart.min.js')}}"></script>
<script>
            if ({{userObj.apuestas|length}} > 0) {
                var pieData = [
                    {
                        value: {{totalWon}},
                        color: "#2BA4FD",
                        highlight: "#7CD9FF",
                        label: "Apuestas Ganadas"
                    },
                    {
                        value: {{(userObj.apuestas | length)-totalWon}},
                        color: "#640E0C",
                        highlight: "#FF3D39",
                        label: "Apuestas Realizadas"
                    },
                ];

            }


            if ({{rankingFbook|length}} > 0) {
                var pieFbData = [];

                        {% for playerObj in rankingFbook %}
                            pieFbData.push({
                                value: {{playerObj.puntos}},
                                color: "{{fbookRankingColors[loop.index0]}}",
                                highlight: "{{fbookRankingColors[loop.index0]}}",
                                label: "{{playerObj.firstName}} {{playerObj.lastName}}"
                                        });
                        {% endfor %}

            }

                        window.onload = function() {

                        if ({{userObj.apuestas|length}} > 0) {
                            var ctx = document.getElementById("chart-area").getContext("2d");
                            window.myPie = new Chart(ctx).Pie(pieData);
                        }

                            if ({{rankingFbook|length}} > 0) {
                                var ctxFb = document.getElementById("chart-fb-area").getContext("2d");
                                window.myPie = new Chart(ctxFb).Pie(pieFbData);
                            }
                        };

</script>

<div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
            // init the FB JS SDK
            FB.init({
                appId      : '598187816957482',                        // App ID from the app dashboard
                channelUrl : '//yourdomain.com/channel.html',      // Channel file for x-domain comms
                status     : true,                                 // Check Facebook Login status
                xfbml      : true                                  // Look for social plugins on the page
            });
        };

        // Load the SDK asynchronously
       /* (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&status=0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));*/

        function fb_login() {
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                    // connected
                   // alert('Already connected, redirect to login page to create token.');
                    document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                } else {
                    // not_authorized
                    FB.login(function(response) {
                        if (response.authResponse) {
                            document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                        } else {
                        }
                    }, {scope: 'email, public_profile, user_friends'});
                }
            });
        }
    </script>

{% endblock %}